{% extends 'layoutFront.html.twig' %}
 {% block content %}
  
<section class="content-center">
<h1 class="grey small no-border">Demandes Annonces: Tout le Maroc </h1>
 <section id="listingAds" class="grid-3-1">

    {% if ads is empty %}
            <h1 class="lead text-info"><i class="fa fa-exclamation-circle fa-2x"></i>&nbsp;&nbsp;Oooops ! Aucune Annonce Sur cette categorie </h1>
     {% else %}
        <section class="list mainList tabs">
            <div class="apn-lt" id="lt_1">
                <div id="lt-s" class="teal-apn"></div>
                <div id="lt-m" class="teal-apn"></div>
            </div>
            <header class="tabsHeader clearfix">
                <nav class="fl">
                    <a href=" {% if app.request.attributes.get('_route') == " ads_category_index " %}
                                    {{ path('ads_category_index',{'slug':app.request.attributes.get('slug')})}} {% else %}  {{ path('ads_page') }} {% endif %}" title="Afficher toutes les annonces" class="tabsSwitch trackable {% if app.request.get('type') == null  %}active{% endif %} ">Toutes<span class="tabsSwitchNumbers small-hidden tiny-hidden"> {{ numberAllAds }}</span></a>
                    <a href=" {% if app.request.attributes.get('_route') == " ads_category_index " %}
                                     {{ path('ads_category_index',{'slug':app.request.attributes.get('slug'),
                                    'type':'par'})}} {% else %}{{ path('ads_page',{'type':'par'}) }}{% endif %}" title="Afficher uniquement les annonces de Particuliers" class="tabsSwitch trackable   {% if app.request.get('type') is defined and app.request.get('type') == 'par'  %}active{% endif %}">Part<span class="custom-medium-hidden">iculiers</span><span class="tabsSwitchNumbers small-hidden tiny-hidden"> {{ numberParAds }}</span></a>
                    <a href=" {% if app.request.attributes.get('_route') == " ads_category_index " %}
                                     {{ path('ads_category_index',{'slug':app.request.attributes.get('slug'),
                                    'type':'pro'})}}{% else %} {{ path('ads_page',{'type':'pro'}) }}{% endif %}" title="Afficher uniquement les annonces de Professionnels" class="tabsSwitch trackable  {% if app.request.get('type') is defined and app.request.get('type') == 'pro'  %}active{% endif %}">Pro<span class="custom-medium-hidden">fessionnels</span><span class="tabsSwitchNumbers small-hidden tiny-hidden">{{ numberProAds }}</span></a>
                </nav>
            </header>
            <section class="tabsContent block-white dontSwitch">
                <ul>
                    <div style="margin-bottom:10px;">
                        <p class="lead  text-primary" style="padding-left:10px">Ads features</p>
                        {% for adFeature in ads|slice(1, 3) %}
                        <li style="font-weight:bold;">
                            <a href="#" class="list_item clearfix trackable">
                                <div class="item_image">
                                    <span class="item_imagePic" style="background:url('{{ asset('plugins/img/testImg.jpg') }}') center no-repeat; ;border: #61304b 6px double;">
                                           </span>
                                </div>
                                <section class="item_infos">
                                    <h2 class="item_title" itemprop="name"> {{ adFeature.title }}</h2>
                                    <p class="item_supp" itemprop="category" content="Mat&eacute;riel Agricole">
                                        {{ adFeature.title }}
                                    </p>
                                    <p class="item_supp" itemprop="availableAtOrFrom" itemscope itemtype="http://schema.org/Place">
                                        <meta itemprop="address" content="Jumièges" /> {{ adFeature.title }}
                                        <meta itemprop="address" content="Seine-Maritime" />
                                    </p>
                                    <meta itemprop="priceCurrency" content="EUR" />
                                    <aside class="item_absolute">
                                        <p class="item_supp" itemprop="availabilityStarts" content="2018-02-25">
                                            <span class="text-primary">{{ adFeature.id }}</span>
                                        </p>
                                    </aside>
                                </section>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                    <hr style="border:2px solid #61304b">
                    <div> 
                     {% for ad in ads %}

                    <li>
                        <a href="{{ path('detail_ad',{'slug':ad.slug})}}" class="list_item clearfix trackable">
                            <div class="item_image">
                                
                                {% set  imageFirst= ad.images|first %}
                             {#    {% if imageFirst is not null %}
                                <span class="item_imagePic" style="background:url('{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}') center no-repeat;">
                                           </span>
                                {% endif %} #}
                            </div>
                            <section class="item_infos">
                                <h2 class="item_title" itemprop="name" style=" font-weight: bold;">{{ ad.title }}</h2>
                                <p class="item_supp" itemprop="category" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" content="{{ ad.villename }} - {{ ad.secteurname}}">
                                    {{ ad.villename }} - {{ ad.secteurname}}
                                        
                                </p>
                                <p class="item_supp" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" itemprop="availableAtOrFrom" itemscope itemtype="http://schema.org/Place"><i style="color:blue !important;" class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
                                  {{ad.createdAt|date('Y-m-d')}}
                                  
                                </p>
                              
                                <aside class="item_absolute">
                                    <p class="item_supp" itemprop="availabilityStarts" content="{{ad.createdAt|date('Y-m-d H:i:s')}}">
                                        <span style=" font-weight: bold;">{{ad.price}} DH</span>
                                    </p>
                                </aside>
                            </section>
                        </a>
                    </li>
                    {% endfor %}
                </div>
                </ul>
            </section>
            <footer class="pagination clearfix">
                {{ knp_pagination_render(ads) }}
            </footer>
        </section>
    {% endif %}
       
        {% include 'PartialsFront/side-ads.html.twig' %}
    </section>
</section>
{% endblock %}