{% extends 'layoutFront.html.twig' %}
 {% block specifics_stylesheets %}


{# add #}
  <link href="{{asset('plugins/front/dist/css/smart_wizard.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{asset('plugins/front/dist/css/smart_wizard_theme_dots.css')}}" rel="stylesheet" type="text/css" />
  <style type="text/css">
  .form-control{
    margin: 10px;
  }
  #map {
        height: 400px;
        width: 100%;
       }
      #floating-panel {
     
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
</style>
 {% endblock %}

 {% block block_no_filter %}

<div class="loading" style="min-height: 500px;margin-left: 40%;margin-top: 10%;">
  <img src="{{asset('plugins/front/img/lg.fidget-spinner.gif')}}">
</div>
<div class="row">
    {% include 'FlashMessages/FlashMessages.html.twig'%}
</div>

<main id="main" role="main" style="min-height:516px; display:none">
    <section class="content-center">
        <form  action="{{ path('dipost_ad_trait')}}" method="POST" id="myForm" role="form"  enctype="multipart/form-data" >
            <!-- SmartWizard html -->
            <div id="smartwizard">
                <ul>
                    <li><a href="#step-1">Step 1<br /><small>Catgorie & Type</small></a></li>
                    <li><a href="#step-2">Step 2<br /><small>Infomation annonce</small></a></li>
                    <li><a href="#step-3">Step 3<br /><small>Images & Lien</small></a></li>
                    <li><a href="#step-4">Step 4<br /><small>Termes et conditions</small></a></li>
                </ul>
                <div>
                  <!--##############################begin step 1###############################-->
                    <div id="step-1" style="padding:50px; ;min-height: 500px;">
                        <h3 style="color:#ccc">Catgorie & Type</h3>
                        <div id="form-step-0" role="form" data-toggle="validator" style="padding:30px;">   
                              {% include 'Partials/categoriesCritiriaOptions.html.twig' %}
                              
                        </div>
                    </div>
                       <!--##############################End step 1###############################-->
                       <!--##############################Begin step 2###############################-->

                    <div id="step-2" style="padding:50px; ;min-height: 500px;">
                        <h3 style="color:#ccc">Infomation annonce</h3>
                        <div id="form-step-1" role="form" data-toggle="validator" style="padding:30px;">
                             {% include 'Partials/cityRegionSecteur.html.twig' %}
                            <div class="form-group">
                                <label for="name" class="text-primary">Titre:</label>
                                <input type="text" class="form-control" name="title" id="email" placeholder="Titre de l'annonce" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group" id="price">
                               <label class="text-primary" for="price">Prix :<strong>*</strong></label>  
                               <input type="number" class="form-control" name="price" required="required" placeholder="Prix de l'annonce" required>
                               <div class="help-block with-errors"></div>
                           </div>
                             <div class="form-group">
                                <label class="text-primary" for="description">Description :<strong>*</strong></label>    
                                <textarea rows="9" cols="30" class="form-control" id="description"
                                  name="description" placeholder="Description de l'annonce" required></textarea>
                                 <div class="help-block with-errors"></div>
                             </div>  
                             <div class="form-group">
                                <label class="text-primary" for="description">Localisation sur la map :</label>    
                                 
                                  <input type='text' placeholder='Recherche Adresse' id='search-in-map' class='form-control'/>
                                   <input class="btn btn-info" onclick="clearMarkers();" type=button value="corriger localisation">
                                <div id="map"></div>
                             </div>  
                             <input type="hidden" name="latLng">
                        </div>
                     </div>


               <!--##############################End step 2###############################-->

              <!--##############################Begin step 3###############################-->

                    <div id="step-3" style="padding:50px; ;min-height: 500px;">
                        <h3 style="color:#ccc">Images & Lien</h3>
                        <div id="form-step-2" role="form" data-toggle="validator" style="padding:30px;">
                           
                          <div class="row">
                            
                          

                          <!-- #########################################-->
                               <div class="form-group file_container " id="uploadPhoto-0" style="margin:14px;" >
                                  <label>photoPric</label>
                                  <input type="file"  class="img-uploads picture" name="image0"  required>
                                   <img src="" class='preview'>
                                   <button class="btn btn-danger btn-sm delete-img-temp" style="display:none;">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <p class="pg-img lead">Photo principale</p>
                                    <i class="fa fa-camera fa-2x ft-img" aria-hidden="true"></i>
                                   <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group file_container " id="uploadPhoto-1" style="margin:14px;">
                                  <input type="file" class="img-uploads picture" name="image1" id="image1" required>
                                 <img src="" class='preview'>
                                   <button class="btn btn-danger delete-img-temp" style="display:none;">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <p class="pg-img lead">Photo 2</p>
                                    <i class="fa fa-camera fa-2x ft-img" aria-hidden="true"></i>
                                   <div class="help-block with-errors"></div>
                                </div>



                                 <div class="form-group file_container" id="uploadPhoto-2"style="margin:14px;">
                                  <input type="file" class="img-uploads picture" name="image2" id="image2" required>
                                   <img src="" class='preview'>
                                   <button class="btn btn-danger delete-img-temp" style="display:none;">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <p class="pg-img lead">Photo 3</p>
                                    <i class="fa fa-camera fa-2x ft-img" aria-hidden="true"></i>
                                   <div class="help-block with-errors"></div>
                                 </div>

                                  <div class="form-group file_container" id="uploadPhoto-2"style="margin:14px;">
                                  <input type="file" class="img-uploads picture" name="image3" id="image2" required>
                                   <img src="" class='preview'>
                                   <button class="btn btn-danger delete-img-temp" style="display:none;">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <p class="pg-img lead">Photo 4</p>
                                    <i class="fa fa-camera fa-2x ft-img" aria-hidden="true"></i>
                                   <div class="help-block with-errors"></div>
                                 </div>
                               </div>
                             <div class="form-group">
                                <label for="name" class="text-primary">Lien youtube:</label>
                                <input type="text" class="form-control" name="lienYoutube" id="email" placeholder="Lien vers youtube" required>
                                <div class="help-block with-errors"></div>
                            </div>
                              <div class="form-group">
                                <label for="name" class="text-primary">Lien site web:</label>
                                <input type="text" class="form-control" name="lienWebSite" id="email" placeholder="Lien vers site web" required>
                                <div class="help-block with-errors"></div>
                            </div>
                       
                        </div>
                    </div>
                     <!--##############################End step 3###############################-->
                     <!--##############################Begin step 4###############################-->
                    <div id="step-4" class="" style="padding:50px; ;min-height: 500px;">
                        <h3 style="color:#ccc">Termes et conditions</h3>
                       
                        <p class="lead">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec .</p>
                        <div id="form-step-3" role="form" data-toggle="validator" style="padding:30px;">
                            <div class="form-group" style="float:right">
                                <label for="terms">Je suis d'accord avec les T & C</label>
                                <input type="checkbox" id="terms" data-error="Please accept the Terms and Conditions" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <!--##############################End step 4###############################-->

                </div>
            </div>
        </form>
    </section>
</main>
{% endblock %}

{% block specifics_javascripts %}
<script src="{{asset('plugins/front/js/comporess.js')}}"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<script type="text/javascript" src="{{ asset('plugins/front/dist/js/jquery.smartWizard.min.js')}}"></script>



<script type="text/javascript">



$(document).ready(function() {
  const compressor = new Compress();
  $('.img-uploads').on('change',function(evt){
       const files = [...evt.target.files]
      compressor.compress(files, {
         size: 4, 
           quality: 0.45, 
           maxWidth: 550, 
           maxHeight: 210,
      }).then((results) => {
        console.log(results)
        const output = results[0]
        const file = Compress.convertBase64ToFile(output.data, output.ext);
       // console.log(output.prefix + output.data);
        $(this).parent('div').find('.preview').attr('src',output.prefix + output.data); 
        $(this).parent('div').find('.ft-img').hide(); 
        $(this).parent('div').find('.pg-img ').hide(); 
        $(this).hide();
        $(this).parent('div').find('.delete-img-temp').show();                    
                                   
      });
  }); 

$('.delete-img-temp').on('click',function(){
    $(this).parent('div').find('input:file').val('');
    $(this).parent('div').find('input:file').show();
    $(this).parent('div').find('.ft-img').show(); 
    $(this).parent('div').find('.pg-img ').show(); 
    $(this).parent('div').find('.preview').attr('src','');
    $(this).parent('div').find('.delete-img-temp').hide();     

});
    



  
    setTimeout(function(){
        $('.loading').hide();
        $('#main').show('slideUp');
    },2000);


    // Toolbar extra buttons
    var btnFinish = $('<button></button>').text('Envoyer')
        .addClass('btn btn-info')
        .on('click', function() {
         $("#myForm").submit();

            // if (!$(this).hasClass('disabled')) {
            //     var elmForm = $("#myForm");
            //     if (elmForm) {
            //         elmForm.validator('validate');
            //         var elmErr = elmForm.find('.has-error');
            //         if (elmErr && elmErr.length > 0) {
            //             alert('Oops we still have error in the form');
            //             return false;
            //         } else {
            //             alert('Great! we are ready to submit form');
            //             elmForm.submit();
                        
            //         }
            //     }
            // }
        });

    var btnCancel = $('<button></button>').text('Vider')
        .addClass('btn btn-danger')
        .on('click', function() {
            $('#smartwizard').smartWizard("reset");
            $('#myForm').find("input, textarea").val("");
        });



    // Smart Wizard
    $('#smartwizard').smartWizard({
        selected: 0,
        theme: 'dots',
        transitionEffect: 'fade',
        toolbarSettings: {
            toolbarPosition: 'right',
            toolbarButtonPosition:'right',
            toolbarExtraButtons: [btnFinish, btnCancel]
        },
        anchorSettings: {
            markDoneStep: true, // add done css
            markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
            removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
            enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
        }
    });

    $("#smartwizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
       
        var elmForm = $("#form-step-" + stepNumber);
        // stepDirection === 'forward' :- this condition allows to do the form validation
        // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
        if (stepDirection === 'forward' && elmForm) {
            elmForm.validator('validate');
            var elmErr = elmForm.children('.has-error');
            if (elmErr && elmErr.length > 0) {
                // Form validation failed
                return false;
            }
        }
        return true;
    });

    $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection) {
        // Enable finish button only on last step
        if (stepNumber == 3) {
            $('.sw-btn-group-extra').show();
            $('.sw-btn-group').hide();
        } else {
            $('.sw-btn-group-extra').hide();
             $('.sw-btn-group').show();
        }
    });
    $('.sw-btn-group-extra').hide();
});
</script>
   <script>

 
      var map;
      var markers = [];

      function initMap() {
        var haightAshbury = {lat: 33.589886, lng:-7.603869};

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: haightAshbury,
          mapTypeId: 'terrain'
        });

        // This event listener will call addMarker() when the map is clicked.
        map.addListener('click', function(event) {
          $("input[name='latLng']").val(event.latLng);
          addMarker(event.latLng);
        });
         var input = document.getElementById("search-in-map");
            // disactivate enter key onkeypress event
            jQuery('#search-in-map').on('keypress', function(e) {
                if (e.keyCode === 13) e.preventDefault();
            });
            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("Please enter a valid address! Or click on the address of the list!");
                    return;
                }

                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(14); // Why 17? Because it looks good.
                }
                return false;
            });

      }

      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        clearMarkers();
        markers.push(marker);
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvw5GTN-dwAV7zOWKod5WNyrcygUKMgM8&libraries=places&callback=initMap">
    </script>
{% endblock %}