{% extends 'layoutAdmin.html.twig'%}
{% block title %}77Maroc-List{% endblock %}
 {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="toolbar pull-right">
                <a class="btn" href="{{ path('users_vetrine_add')}}"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nouveau</a>
          </div>
        </div>
        <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
        </div>
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Liste Des Vetrines</h4>
                <div class="material-datatables">
                    <table id="table-users" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">Email Vetrine</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Solde</th>
                                <th class="text-center">Slug</th>
                                <th class="text-center">Active</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center">
                                <th class="text-center">Email Vetrine</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Solde</th>
                                <th class="text-center">Slug</th>
                                <th class="text-center">Active</th>

                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for user in users %}
                            <tr class="text-center" id="{{user.id}}">
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td><span id="row-solde-{{user.id}}"> {% if user.solde is null %}0{% else %}{{user.solde}}{% endif %} DH</span></td>
                                <td>{{user.slug}}</td>
                                <td> {% if user.enabled  == 1 %}OUI{% else %}NON{% endif %}</td>
                         

                                <td class="text-center">
                                    <a href="{{path('users_vetrine_edit',{'id':user.id})}}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">mode_edit</i></a>

                                    <a href="#" data-toggle="modal" data-target="#modal-solde-{{user.id}}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">monetization_on</i>
                                    </a>
                                    <a href="#" class="btn btn-simple btn-danger btn-icon remove" data-toggle="modal" data-target="#modal-{{user.id}}"><i class="material-icons">close</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
{% for user in users %}
  {% include 'Modals/delete_user.html.twig' with {'idUser': user.id,'message':'Cette Vetrine'} %}
  {% include 'Modals/editMoney_user.html.twig' with { 'idUser' : user.id,'solde':user.solde,
                                                    'lastName':user.firstName,'firstName' : user.lastName
                                                   }  %}
{% endfor %}

{% endblock %}