{% extends '::Default/Spaces/Normal/NormalLyout.html.twig' %}


{% block normal_holder %}
     
<section class="content-center espace-content">
     
 <div class="list-group">
 	{% for inb in inbox %}
              
                <a data-target="#exampleModalLong" data-toggle="modal" data-subject="Sujet : {{ inb.subject }}" data-email="{{ (inb.type == constant('AppBundle\\Entity\\Inbox::ANNONYME')) ? "Email :  #{inb.phone}" : '' }}" data-phone=" {{ (inb.type == constant('AppBundle\\Entity\\Inbox::ANNONYME')) ? "Telephone :  #{inb.phone}" : '' }} "  data-body="{{ inb.text }}" class="list-group-item list-group-item-action flex-column align-items-start show-message-content">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">{{ inb.subject }}</h5>
				      <small>{{ inb.createdAt|date('Y-m-d h:m') }}</small>
				    </div>
				    <p class="mb-1">{{ inb.text|slice(0, 100) }}</p>
				    <small>Type de Message : {{ inb.type }}</small>
				 </a>

 	{% endfor %}

</div>

 

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title mosubject" id="exampleModalLongTitle"></h5>
        <h5 class="modal-title moemail" id="exampleModalLongTitle"></h5>
        <h5 class="modal-title mophone" id="exampleModalLongTitle"></h5>
        
      </div>
      <div class="modal-body">
        Content message
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

</section>
    
    {% block specifics_javascripts %}
        <script type="text/javascript">
              
              $(document).ready(function(){
                      
                       $('.show-message-content').click(function(){

					            $('#exampleModalLong').find('.modal-body').text($(this).attr('data-body'));
                      $('#exampleModalLong').find('.mosubject').text($(this).attr('data-subject'));
                      $('#exampleModalLong').find('.moemail').text($(this).attr('data-email'));
                      $('#exampleModalLong').find('.mophone').text($(this).attr('data-phone'));



					     });

              });

        </script>
    {% endblock %}     


{% endblock %}