{% extends '::Default/Spaces/Normal/NormalLyout.html.twig' %}


                {% block normal_holder %}
    

						<div class="espace-content">

								    		{{form_start(form,{'attr':{'class':'form-horizontal'}}) }}


									 <div class="form-row">
									    <div class="form-group col-md-6">
									      <label for="inputEmail4">Nom</label>
									        {{form_widget(form.lastName)}} 
									    </div>
									    <div class="form-group col-md-6">
									      <label for="inputPassword4">Prénom</label>
									      {{form_widget(form.firstName)}}
									    </div>
									  </div>
									   <div class="form-row">
           										
	           								<div class="form-group col-md-6">
												   
												  	 	<label for="inputAddress">Phone</label>
												        {{form_widget(form.phone)}} 
												   
										  </div>
									      <div class="form-group col-md-6">
										  	 
	    											  <label for="inputAddress">Email</label>
										             {{form_widget(form.email)}} 
										  	  
									      </div>
									 
									  </div>
										 <div class="form-row">
								               <div class="form-group">
													<button type="submit" class="btn btn-primary  btn-lg login-button center-block" style="width: 50%;">Enregistrer</button>
												</div>
										 </div>
		                       
		                        
		                	 {{ form_row(form._token) }}
		                     {{ form_end(form, {'render_rest': false}) }}

						    </div>

                
                          

                {% endblock %}