   <div class="jumbotron col-md-4 top-space-action">
							<h2 class="">Votre Solde : <p class="d-inline lead font-weight-bold">{{ (user.solde is null) ? '0.00' : (user.solde ~ ',00') }} DH</p></h2>
	</div>