

<div class="form-group">
<label for="select-principal-catgory" class="text-primary">Categorie :<strong>*</strong></label>
<select class="form-control" name="catgory"  id="select-principal-catgory">
<option selected value disabled  style="font-weight:bold;text-transform: uppercase;">--Selectioner catgorie--</option>	

{% for cat in category %}
	{% if cat.parent == null %}
			<option value disabled  style="font-weight:bold;text-transform: uppercase;">--{{cat.name}}--</option>
			{% for sub in category %}
				{% if sub.parent != null %}
					{% if sub.parent.id == cat.id %}
							<option value="{{cat.id}}" data-critirias ="{% for crit in  sub.criterias %}{{crit.id}},{% endfor %}"
							 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sub.name}}</option>
					{% endif %}

				{% endif %}
			{% endfor %}
	{% endif %}

{% endfor %}
</select>
</div>


<section class="row">
	

{% for crit in critiria %}
	{% if crit.type == "radio" %}
	<div id="crit-{{crit.id}}" class="critirias-show-hide  col-lg-6" style="display:none"> 
		<label class="text-primary">{{crit.name}} :<strong>*</strong></label>
		<br>
		 {% for option in crit.option %}
		 	
		 	<input calss="form-control" {% if loop.index == 1 %}checked {% endif %} type="radio" name="critiria[][{{crit.id}}]" id="{{option.id}}" value="{{option.value}}">
		 	<label calss="form-control" for="{{option.id}}">{{option.value}}</label>
	 	 {% endfor %}
	 	</div>
	{% endif %}

	{% if crit.type == "list" %}
		<div id="crit-{{crit.id}}" class="critirias-show-hide  col-lg-6" style="display:none"> 
			<label class="text-primary">{{crit.name}} :<strong>*</strong></label>
 		 	<select class="form-control" name="critiria[][{{crit.id}}]" >
 		 		<option selected value disabled  style="font-weight:bold;text-transform: uppercase;">--Selectioner {{crit.name}}--</option>	

			 {% for option in crit.option %}
			 	<option value="{{option.value}}">{{option.value}}</option>
		 	 {% endfor %}
		 	 </select>
		 </div>
   {% endif %}

   {% if crit.type == "field" %}
   		<div id="crit-{{ crit.id}}" class="critirias-show-hide  col-lg-6" style="display:none"> 
	
		<label class="text-primary">{{crit.name}} :<strong>*</strong></label>	
 		<input type="text" name="critiria[][{{crit.id}}]" id="{{crit.name}}" class="form-control"/><br/>
	 	
	 	</div>
   {% endif %}
	
{%  endfor %}


</section>