<footer id="footer" role="contentinfo">

<section class="footer_content" style="background:#61304b">
    <div class="content-center">
        <section class="clearfix">
            <div class="span2" style="width: 15%;">
              {#   <ul class="footer-ul unstyled">
                     {{ render(controller('AppBundle:Default:renderMenuFooter')) }}
                </ul> #}
            </div>
           
        </section>
    </div>
</section>
</footer>