      <header id="header" role="banner" class="no-fix ">
                <section class="headerContent">

                    <section class="content-center clearfix">
                        <a class="displayMenu button-white-mobile custom-large-hidden">MENU<span class="newMessagesNotif"></span></a>

                        <a href="#" class="logo-site trackable" ></a>
                        <nav class="headerNav" role="navigation">
                            <!-- LOGO -->
                            <a href="#" class="logo-site trackable custom-large-hidden"></a>

                            <p class="logo-site hidden"></p>
                            <!-- MENU DESKTOP -->
                            <ul class="headerNav_main" style="padding-left:100px">

                               <li><a href="{{ path('dipost_ad')}}" class="{% if app.request.attributes.get('_route') == 'dipost_ad'%}active {% endif %}trackable">Déposer Une annonces</a></li>
                                <li><a href="{{ path('homepage')}}" class="{% if app.request.attributes.get('_route') == 'homepage'%}active {% endif %}trackable">Home</a></li>
                                <li><a href="{{ path('ads_page')}}" class="{% if app.request.attributes.get('_route') == 'ads_page'%}active {% endif %}trackable">Tout les annonces</a></li>
                                <li><a class="trackable">vetrines</a></li>

                               
                              
                                <li class="custom-large-hidden">
                                     {% if app.user %}
                                      <a href="{{path('account_logout')}}" class="popin-hideHoverlay popin-open custom-large-hidden trackable"><i class="fa fa-sign-out"></i>Se déconnecter</a>
                                       {% else %}
                                       <a href="{{ path('account_login')}}" class="popin-hideHoverlay popin-open custom-large-hidden trackable"><i class="fa fa-sign-in"></i>Se connecter</a>
                                     {% endif %}
                                   
                                </li>

                                <li class="custom-large-hidden">
                                    <a href="{{ path('dipost_ad')}}" class="popin-hideHoverlay popin-open custom-large-hidden trackable">
                                        <i class="fa fa-plus-square-o"></i>&nbsp;Déposer Une annonces</a>
                                </li>
                                
                                <li class="custom-large-hidden"><a href="#" title="Informations pratiques" class="showFooterLinks">Informations pratiques<i class="icon-chevron-right icon-2x nomargin"></i></a></li>

                               
                               
                            </ul>

                            <nav class="headerNav_footer hidden">
                             {#    <ul>
                                    <li><a href="#" title="" class="hideFooterLinks"><i class="icon-chevron-left icon-2x"></i>Retour menu</a></li>
                                     {{ render(controller('AppBundle:Default:renderMenuFooter')) }}
                           

                                </ul> #}
                            </nav>
                        </nav>

                     
                        <aside class="header_aside clearfix">
                          

                    {% if app.user %}
                                                <article class="myAccount custom-small-hidden">
                                                      <nav class="myAccount_nav">
                                                      
                                               {#          <a href="{{ (app.user.accounttype.id == 2) ? path('annonces_liste_index') : path('annonces_liste_index') }}" class="trackable"><span>Mes annonces</span></a> #}
                                                        <a href="{{ (app.user.accounttype.id == 2) ? path('inbox_index') : path('inbox_normal_index') }}" class="trackable">Mes Message</a>
                                                        <a href="{{ (app.user.accounttype.id == 2) ? path('vitrine_info_index') : path('mes_info_index') }}" class="trackable"><span>Mes infos</span></a>
                                                        <a href="{{ path('account_logout')}}" title="Se déconnecter" class="red trackable logout-action">Se déconnecter</a>
                                                      
                                                      </nav>
                                                      <div class="clearfix">
                                                        <button class="toggleElement button-flat button-secondary" data-element="myAccount_nav">
                                                          <div><i class="fa fa-user" aria-hidden="true"></i></div>
                                                          <div class="nickname">{{ app.user.username }}</div>
                                                        </button>
                                                        <input id="accountCredits" value="0" type="hidden">
                                                      </div>
                                                 </article>
                      {% else %}
                                    
          <article class="myAccount custom-small-hidden">
            <div class="clearfix">
              <button class="toggleElement button-flat button-secondary" data-element="myAccount_nav">
                <div><i class="fa fa-user" aria-hidden="true"></i></div>
                <div class="nickname">Se connecter</div>
              </button>
              <input id="accountCredits" value="0" type="hidden">
            </div>
          </article>
                                     {% endif %}


</aside>



                        <div class="headerEmpty_content">
                            <a class="displayMenu button-white-mobile custom-large-hidden hidden">MENU</a>
                            <p class="logo-site"></p>

                            <a href="#" title="Retour" class="linkBack custom-small-hidden"><i class="icon-chevron-left"></i>Retour</a>
                        </div>
                    </section>
                </section>
            </header>