 {% set ANNONCEREFUSER = [] %} 
 {% set ANNONCESUPPRIMER = [] %} 
    {% for template in messageTemplates %}
     {% if template.type == "ANNONCE_REFUSER" %}
      {% set ANNONCEREFUSER = template.messagetemplate %}
     {% elseif template.type == "ANNONCE_SUPPRIMER" %}
      {% set ANNONCESUPPRIMER = template.messagetemplate %}
     {% endif %}
   {% endfor %}
<div class="modal fade" id="modal-annonce-refuser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Messages refuser annonce</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select class="form-control">
                        <option selected disabled>----Select Message-----</option>
                        {% for templ in ANNONCEREFUSER %}
                        <option value="{{templ.id}}">{{templ.title}}</option>
                        {% endfor %}
                        <input type="hidden" name="idAd">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-simple">Valider</button>
                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-annonce-supprimer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Messages Supprimer annonce</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select class="form-control">
                        <option selected disabled>----Select Message-----</option>
                        {% for templ in ANNONCESUPPRIMER %}
                        <option value="{{templ.id}}">{{templ.title}}</option>
                        {% endfor %}
                        <input type="hidden" name="idAd">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-simple">Valider</button>
                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-annonce-valider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Vaildation d'annonce</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p class="lead text-primary">Vous voulez variment vailder cette annonce !</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-simple">Valider</button>
                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>