<div class="region-ville-secteur">

<div class="form-group" style="margin-bottom:10px; ">
    <label class=" text-primary" for="region"><strong>Region :*</strong></label>

      <select class="form-control region" name="region" required>
            <option></option>
          <option value="chaouia-ourdigha"> Chaouia-Ouardigha </option>
          <option value="doukkala-abda"> Doukkala–Abda </option>
          <option value="fes-boulemane"> Fès-Boulemane </option>
          <option value="gharb-chrarda-beni-hssen"> Gharb-Chrarda-Beni Hssen </option>
          <option value="grand-casablanca"> Grand Casablanca </option>
          <option value="guelmim-es-semara"> Guelmim-Es Semara </option>
          <option value="laayoune-boujdour-sakia-el-hamra"> Laâyoune-Boujdour-Sakia El Hamra </option>
          <option value="marrakech-tensift-al-haouz"> Marrakech-Tensift-Al Haouz </option>
          <option value="meknès-tafilalet"> Meknès-Tafilalet </option>
          <option value="oriental"> Oriental </option>
          <option value="oued-ed-dahab-lagouira"> Oued Ed-Dahab-Lagouira </option>
          <option value="Rabat-sale-zemmour-zaer"> Rabat-Salé-Zemmour-Zaër </option>
          <option value="souss-Massa-Drâa"> Souss-Massa-Drâa </option>
          <option value="tadla-azilal"> Tadla-Azilal </option>
          <option value="tanger-tetouan"> Tanger-Tétouan </option>
          <option value="taza-al-hoceima-taounate"> Taza-Al Hoceïma-Taounate </option>
      </select>
      <div class="help-block with-errors"></div>

</div>
<div class="form-group" style="margin-bottom:10px; ">
    <label class="text-primary" for="categories"><strong>Ville :*</strong></label>

      <select class="form-control ville" name="ville" required>
            <option></option>
    <option value="Ain_Attig" class="Rabat-sale-zemmour-zaer" style="display:none;">Ain Attig</option>
    <option value="Ain_Johra" class="Rabat-sale-zemmour-zaer" style="display:none;">Ain Johra</option>
    <option value="Ain_Sbit" class="Rabat-sale-zemmour-zaer" style="display:none;">Ain Sbit</option>
    <option value="Ait_Belkacem" class="Rabat-sale-zemmour-zaer" style="display:none;">Ait Belkacem</option>
    <option value="Ait_Bouyahya El Hajjama" class="Rabat-sale-zemmour-zaer" style="display:none;">Ait Bouyahya El Hajjama</option>
    <option value="Ait_Ichou" class="Rabat-sale-zemmour-zaer" style="display:none;">Ait Ichou</option>
    <option value="Ait_Ikkou" class="Rabat-sale-zemmour-zaer" style="display:none;">Ait Ikkou</option>
    <option value="Ait_Malek" class="Rabat-sale-zemmour-zaer" style="display:none;">Ait Malek</option>
    <option value="Ait_Mimoun" class="Rabat-sale-zemmour-zaer" style="display:none;">Ait Mimoun</option>
    <option value="Ait_Ouribel" class="Rabat-sale-zemmour-zaer" style="display:none;">Ait Ouribel</option>
    <option value="Ait_Siberne" class="Rabat-sale-zemmour-zaer" style="display:none;">Ait Siberne</option>
    <option value="Ait_Yadine" class="Rabat-sale-zemmour-zaer" style="display:none;">Ait Yadine</option>
    <option value="Bouqachmir" class="Rabat-sale-zemmour-zaer" style="display:none;">Bouqachmir</option>
    <option value="Brachoua" class="Rabat-sale-zemmour-zaer" style="display:none;">Brachoua</option>
    <option value="El_Ganzra" class="Rabat-sale-zemmour-zaer" style="display:none;">El Ganzra</option>
    <option value="El_Harhoura" class="Rabat-sale-zemmour-zaer" style="display:none;">El Harhoura</option>
    <option value="El_Menzeh" class="Rabat-sale-zemmour-zaer" style="display:none;">El Menzeh</option>
    <option value="Ezzhiliga" class="Rabat-sale-zemmour-zaer" style="display:none;">Ezzhiliga</option>
    <option value="Harhoura" class="Rabat-sale-zemmour-zaer" style="display:none;">Harhoura</option>
    <option value="Houderrane" class="Rabat-sale-zemmour-zaer" style="display:none;">Houderrane</option>
    <option value="Jemaat_Moul Blad" class="Rabat-sale-zemmour-zaer" style="display:none;">Jemaat Moul Blad</option>
    <option value="Khemis_Sidi Yahya" class="Rabat-sale-zemmour-zaer" style="display:none;">Khemis Sidi Yahya</option>
    <option value="Khemisset" class="Rabat-sale-zemmour-zaer" style="display:none;">Khemisset</option>
    <option value="Laghoualem" class="Rabat-sale-zemmour-zaer" style="display:none;">Laghoualem</option>
    <option value="M'qam_Tobla" class="Rabat-sale-zemmour-zaer" style="display:none;">M'qam Tobla</option>
    <option value="Maaziz" class="Rabat-sale-zemmour-zaer" style="display:none;">Maaziz</option>
    <option value="Majmaa_Tolba" class="Rabat-sale-zemmour-zaer" style="display:none;">Majmaa Tolba</option>
    <option value="Marchouch" class="Rabat-sale-zemmour-zaer" style="display:none;">Marchouch</option>
    <option value="Mers_El Kheir" class="Rabat-sale-zemmour-zaer" style="display:none;">Mers El Kheir</option>
    <option value="Moulay_Driss Aghbal" class="Rabat-sale-zemmour-zaer" style="display:none;">Moulay Driss Aghbal</option>
    <option value="Oulmes" class="Rabat-sale-zemmour-zaer" style="display:none;">Oulmes</option>
    <option value="Oumazza" class="Rabat-sale-zemmour-zaer" style="display:none;">Oumazza</option>
    <option value="Rabat" class="Rabat-sale-zemmour-zaer" style="display:none;">Rabat</option>
    <option value="Rommani" class="Rabat-sale-zemmour-zaer" style="display:none;">Rommani</option>
    <option value="Sabbah" class="Rabat-sale-zemmour-zaer" style="display:none;">Sabbah</option>
    <option value="Sala_Al-Jadida" class="Rabat-sale-zemmour-zaer" style="display:none;">Sala Al-Jadida</option>
    <option value="Salé" class="Rabat-sale-zemmour-zaer" style="display:none;">Salé</option>
    <option value="Sfassif" class="Rabat-sale-zemmour-zaer" style="display:none;">Sfassif</option>
    <option value="Sidi_Abderrazak" class="Rabat-sale-zemmour-zaer" style="display:none;">Sidi Abderrazak</option>
    <option value="Sidi_Allal El Bahraoui" class="Rabat-sale-zemmour-zaer" style="display:none;">Sidi Allal El Bahraoui</option>
    <option value="Sidi_Allal Lamsadder" class="Rabat-sale-zemmour-zaer" style="display:none;">Sidi Allal Lamsadder</option>
    <option value="Sidi_Boukhalkhal" class="Rabat-sale-zemmour-zaer" style="display:none;">Sidi Boukhalkhal</option>
    <option value="Sidi_Bouknadel" class="Rabat-sale-zemmour-zaer" style="display:none;">Sidi Bouknadel</option>
    <option value="Sidi_El Ghandour" class="Rabat-sale-zemmour-zaer" style="display:none;">Sidi El Ghandour</option>
    <option value="Sidi_Yahya Zaer" class="Rabat-sale-zemmour-zaer" style="display:none;">Sidi Yahya Zaer</option>
    <option value="Skhirat" class="Rabat-sale-zemmour-zaer" style="display:none;">Skhirat</option>
    <option value="Temara" class="Rabat-sale-zemmour-zaer" style="display:none;">Temara</option>
    <option value="Tiddas" class="Rabat-sale-zemmour-zaer" style="display:none;">Tiddas</option>
    <option value="Tifelt" class="Rabat-sale-zemmour-zaer" style="display:none;">Tifelt</option>
    <option value="Ahlaf" class="chaouia-ourdigha" style="display:none;">Ahlaf</option>
    <option value="Ain_Blal" class="chaouia-ourdigha" style="display:none;">Ain Blal</option>
    <option value="Ain_Dorbane" class="chaouia-ourdigha" style="display:none;">Ain Dorbane</option>
    <option value="Ain_Kaicher" class="chaouia-ourdigha" style="display:none;">Ain Kaicher</option>
    <option value="Ain_Nzagh" class="chaouia-ourdigha" style="display:none;">Ain Nzagh</option>
    <option value="Ain_Tizgha" class="chaouia-ourdigha" style="display:none;">Ain Tizgha</option>
    <option value="Ait_Ammar" class="chaouia-ourdigha" style="display:none;">Ait Ammar</option>
    <option value="Bejaad" class="chaouia-ourdigha" style="display:none;">Bejaad</option>
    <option value="Ben_Ahmed" class="chaouia-ourdigha" style="display:none;">Ben Ahmed</option>
    <option value="Ben_Maachou" class="chaouia-ourdigha" style="display:none;">Ben Maachou</option>
    <option value="Benslimane" class="chaouia-ourdigha" style="display:none;">Benslimane</option>
    <option value="Berrechid" class="chaouia-ourdigha" style="display:none;">Berrechid</option>
    <option value="Bir_Ennasr" class="chaouia-ourdigha" style="display:none;">Bir Ennasr</option>
    <option value="Bir_Mezoui" class="chaouia-ourdigha" style="display:none;">Bir Mezoui</option>
    <option value="Bni_Bataou" class="chaouia-ourdigha" style="display:none;">Bni Bataou</option>
    <option value="Bni_Khloug" class="chaouia-ourdigha" style="display:none;">Bni Khloug</option>
    <option value="Bni_Smir" class="chaouia-ourdigha" style="display:none;">Bni Smir</option>
    <option value="Bni_Yagrine" class="chaouia-ourdigha" style="display:none;">Bni Yagrine</option>
    <option value="Bni_Ykhlef" class="chaouia-ourdigha" style="display:none;">Bni Ykhlef</option>
    <option value="Bni_Zrantel" class="chaouia-ourdigha" style="display:none;">Bni Zrantel</option>
    <option value="Bouguargouh" class="chaouia-ourdigha" style="display:none;">Bouguargouh</option>
    <option value="Boujniba" class="chaouia-ourdigha" style="display:none;">Boujniba</option>
    <option value="Boukhrsse" class="chaouia-ourdigha" style="display:none;">Boukhrsse</option>
    <option value="Boulanouar" class="chaouia-ourdigha" style="display:none;">Boulanouar</option>
    <option value="Boulanouare" class="chaouia-ourdigha" style="display:none;">Boulanouare</option>
    <option value="Bouznika" class="chaouia-ourdigha" style="display:none;">Bouznika</option>
    <option value="Braksa" class="chaouia-ourdigha" style="display:none;">Braksa</option>
    <option value="Cherrat" class="chaouia-ourdigha" style="display:none;">Cherrat</option>
    <option value="Chougrane" class="chaouia-ourdigha" style="display:none;">Chougrane</option>
    <option value="Dar_Chaffai" class="chaouia-ourdigha" style="display:none;">Dar Chaffai</option>
    <option value="Deroua" class="chaouia-ourdigha" style="display:none;">Deroua</option>
    <option value="El_Borouj" class="chaouia-ourdigha" style="display:none;">El Borouj</option>
    <option value="El_Foqra" class="chaouia-ourdigha" style="display:none;">El Foqra</option>
    <option value="El_Gara" class="chaouia-ourdigha" style="display:none;">El Gara</option>
    <option value="El_Mansouria" class="chaouia-ourdigha" style="display:none;">El Mansouria</option>
    <option value="Fdalate" class="chaouia-ourdigha" style="display:none;">Fdalate</option>
    <option value="Foqra_Oulad Aameur" class="chaouia-ourdigha" style="display:none;">Foqra Oulad Aameur</option>
    <option value="Gdana" class="chaouia-ourdigha" style="display:none;">Gdana</option>
    <option value="Guisser" class="chaouia-ourdigha" style="display:none;">Guisser</option>
    <option value="Hattane" class="chaouia-ourdigha" style="display:none;">Hattane</option>
    <option value="Jaqma" class="chaouia-ourdigha" style="display:none;">Jaqma</option>
    <option value="Kasbat_Ben Mchich" class="chaouia-ourdigha" style="display:none;">Kasbat Ben Mchich</option>
    <option value="Kasbat_Troch" class="chaouia-ourdigha" style="display:none;">Kasbat Troch</option>
    <option value="Khemisset_Chaouia" class="chaouia-ourdigha" style="display:none;">Khemisset Chaouia</option>
    <option value="Khouribga" class="chaouia-ourdigha" style="display:none;">Khouribga</option>
    <option value="Lagfaf" class="chaouia-ourdigha" style="display:none;">Lagfaf</option>
    <option value="Laghnimyine" class="chaouia-ourdigha" style="display:none;">Laghnimyine</option>
    <option value="Lagnadiz" class="chaouia-ourdigha" style="display:none;">Lagnadiz</option>
    <option value="Lahlaf_M'zab" class="chaouia-ourdigha" style="display:none;">Lahlaf M'zab</option>
    <option value="Lahouaza" class="chaouia-ourdigha" style="display:none;">Lahouaza</option>
    <option value="Lahsasna" class="chaouia-ourdigha" style="display:none;">Lahsasna</option>
    <option value="Lakhiaita" class="chaouia-ourdigha" style="display:none;">Lakhiaita</option>
    <option value="Lakhzazra" class="chaouia-ourdigha" style="display:none;">Lakhzazra</option>
    <option value="Lambarkiyine" class="chaouia-ourdigha" style="display:none;">Lambarkiyine</option>
    <option value="Laqraqra" class="chaouia-ourdigha" style="display:none;">Laqraqra</option>
    <option value="Loulad" class="chaouia-ourdigha" style="display:none;">Loulad</option>
    <option value="M'fassis" class="chaouia-ourdigha" style="display:none;">M'fassis</option>
    <option value="M'garto" class="chaouia-ourdigha" style="display:none;">M'garto</option>
    <option value="Maadna" class="chaouia-ourdigha" style="display:none;">Maadna</option>
    <option value="Machraa_Ben Abbou" class="chaouia-ourdigha" style="display:none;">Machraa Ben Abbou</option>
    <option value="Mellila" class="chaouia-ourdigha" style="display:none;">Mellila</option>
    <option value="Meskoura" class="chaouia-ourdigha" style="display:none;">Meskoura</option>
    <option value="Mniaa" class="chaouia-ourdigha" style="display:none;">Mniaa</option>
    <option value="Moualine_El Ghaba" class="chaouia-ourdigha" style="display:none;">Moualine El Ghaba</option>
    <option value="Moualine_El Oued" class="chaouia-ourdigha" style="display:none;">Moualine El Oued</option>
    <option value="Mrizigue" class="chaouia-ourdigha" style="display:none;">Mrizigue</option>
    <option value="Mzoura" class="chaouia-ourdigha" style="display:none;">Mzoura</option>
    <option value="N'khila" class="chaouia-ourdigha" style="display:none;">N'khila</option>
    <option value="Ouazzane" class="chaouia-ourdigha" style="display:none;">Ouazzane</option>
    <option value="Oued_Naanaa" class="chaouia-ourdigha" style="display:none;">Oued Naanaa</option>
    <option value="Oued_Zem" class="chaouia-ourdigha" style="display:none;">Oued Zem</option>
    <option value="Oulad_Aafif" class="chaouia-ourdigha" style="display:none;">Oulad Aafif</option>
    <option value="Oulad_Abbou" class="chaouia-ourdigha" style="display:none;">Oulad Abbou</option>
    <option value="Oulad_Abdoune" class="chaouia-ourdigha" style="display:none;">Oulad Abdoune</option>
    <option value="Oulad_Aissa" class="chaouia-ourdigha" style="display:none;">Oulad Aissa</option>
    <option value="Oulad_Al Toualaa" class="chaouia-ourdigha" style="display:none;">Oulad Al Toualaa</option>
    <option value="Oulad_Amer" class="chaouia-ourdigha" style="display:none;">Oulad Amer</option>
    <option value="Oulad_Azzouz" class="chaouia-ourdigha" style="display:none;">Oulad Azzouz</option>
    <option value="Oulad_Bouali Nouaja" class="chaouia-ourdigha" style="display:none;">Oulad Bouali Nouaja</option>
    <option value="Oulad_Boughadi" class="chaouia-ourdigha" style="display:none;">Oulad Boughadi</option>
    <option value="Oulad_Cebbah" class="chaouia-ourdigha" style="display:none;">Oulad Cebbah</option>
    <option value="Oulad_Chbana" class="chaouia-ourdigha" style="display:none;">Oulad Chbana</option>
    <option value="Oulad_Fares" class="chaouia-ourdigha" style="display:none;">Oulad Fares</option>
    <option value="Oulad_Fares El Halla" class="chaouia-ourdigha" style="display:none;">Oulad Fares El Halla</option>
    <option value="Oulad_Fennane" class="chaouia-ourdigha" style="display:none;">Oulad Fennane</option>
    <option value="Oulad_Freiha" class="chaouia-ourdigha" style="display:none;">Oulad Freiha</option>
    <option value="Oulad_Ftata" class="chaouia-ourdigha" style="display:none;">Oulad Ftata</option>
    <option value="Oulad_Gouaouch" class="chaouia-ourdigha" style="display:none;">Oulad Gouaouch</option>
    <option value="Oulad_M'hamed" class="chaouia-ourdigha" style="display:none;">Oulad M'hamed</option>
    <option value="Oulad_Said" class="chaouia-ourdigha" style="display:none;">Oulad Said</option>
    <option value="Oulad_Sghir" class="chaouia-ourdigha" style="display:none;">Oulad Sghir</option>
    <option value="Oulad_Yahya Louta" class="chaouia-ourdigha" style="display:none;">Oulad Yahya Louta</option>
    <option value="Oulad_Zidane" class="chaouia-ourdigha" style="display:none;">Oulad Zidane</option>
    <option value="Ras_El Ain Chaouia" class="chaouia-ourdigha" style="display:none;">Ras El Ain Chaouia</option>
    <option value="Rdadna_Oulad Malek" class="chaouia-ourdigha" style="display:none;">Rdadna Oulad Malek</option>
    <option value="Riah" class="chaouia-ourdigha" style="display:none;">Riah</option>
    <option value="Rima" class="chaouia-ourdigha" style="display:none;">Rima</option>
    <option value="Rouached" class="chaouia-ourdigha" style="display:none;">Rouached</option>
    <option value="Sahel_Oulad H'riz" class="chaouia-ourdigha" style="display:none;">Sahel Oulad H'riz</option>
    <option value="Settat" class="chaouia-ourdigha" style="display:none;">Settat</option>
    <option value="Sgamna" class="chaouia-ourdigha" style="display:none;">Sgamna</option>
    <option value="Sidi_Abdelkhalq" class="chaouia-ourdigha" style="display:none;">Sidi Abdelkhalq</option>
    <option value="Sidi_Abdelkrim" class="chaouia-ourdigha" style="display:none;">Sidi Abdelkrim</option>
    <option value="Sidi_Ahmed El Khadir" class="chaouia-ourdigha" style="display:none;">Sidi Ahmed El Khadir</option>
    <option value="Sidi_Bettache" class="chaouia-ourdigha" style="display:none;">Sidi Bettache</option>
    <option value="Sidi_Boumehdi" class="chaouia-ourdigha" style="display:none;">Sidi Boumehdi</option>
    <option value="Sidi_Dahbi" class="chaouia-ourdigha" style="display:none;">Sidi Dahbi</option>
    <option value="Sidi_El Aidi" class="chaouia-ourdigha" style="display:none;">Sidi El Aidi</option>
    <option value="Sidi_el Aîdi" class="chaouia-ourdigha" style="display:none;">Sidi el Aîdi</option>
    <option value="Sidi_El Mekki" class="chaouia-ourdigha" style="display:none;">Sidi El Mekki</option>
    <option value="Sidi_Hajjaj" class="chaouia-ourdigha" style="display:none;">Sidi Hajjaj</option>
    <option value="Sidi_Mohamed Ben Rahal" class="chaouia-ourdigha" style="display:none;">Sidi Mohamed Ben Rahal</option>
    <option value="Sidi_Rahal" class="chaouia-ourdigha" style="display:none;">Sidi Rahal</option>
    <option value="Sidi_Rahal Chatai" class="chaouia-ourdigha" style="display:none;">Sidi Rahal Chatai</option>
    <option value="Sidi_Rahhal" class="chaouia-ourdigha" style="display:none;">Sidi Rahhal</option>
    <option value="Soualem" class="chaouia-ourdigha" style="display:none;">Soualem</option>
    <option value="Tachrafat" class="chaouia-ourdigha" style="display:none;">Tachrafat</option>
    <option value="Tamadroust" class="chaouia-ourdigha" style="display:none;">Tamadroust</option>
    <option value="Toualet" class="chaouia-ourdigha" style="display:none;">Toualet</option>
    <option value="Zaouiat_Sidi Ben Hamdoun" class="chaouia-ourdigha" style="display:none;">Zaouiat Sidi Ben Hamdoun</option>
    <option value="Ziaida" class="chaouia-ourdigha" style="display:none;">Ziaida</option>
    <option value="Atiamim" class="doukkala-abda" style="display:none;">Atiamim</option>
    <option value="Atouabet" class="doukkala-abda" style="display:none;">Atouabet</option>
    <option value="Ayir" class="doukkala-abda" style="display:none;">Ayir</option>
    <option value="Azemmour" class="doukkala-abda" style="display:none;">Azemmour</option>
    <option value="Bir_Jdid" class="doukkala-abda" style="display:none;">Bir Jdid</option>
    <option value="Bni_Hilal" class="doukkala-abda" style="display:none;">Bni Hilal</option>
    <option value="Bni_Tsiriss" class="doukkala-abda" style="display:none;">Bni Tsiriss</option>
    <option value="Bouguedra" class="doukkala-abda" style="display:none;">Bouguedra</option>
    <option value="Bouhmame" class="doukkala-abda" style="display:none;">Bouhmame</option>
    <option value="Boulaouane" class="doukkala-abda" style="display:none;">Boulaouane</option>
    <option value="Chaibate" class="doukkala-abda" style="display:none;">Chaibate</option>
    <option value="Chtouka" class="doukkala-abda" style="display:none;">Chtouka</option>
    <option value="Dar_Si Aissa" class="doukkala-abda" style="display:none;">Dar Si Aissa</option>
    <option value="Echemmaia" class="doukkala-abda" style="display:none;">Echemmaia</option>
    <option value="El_Beddouza" class="doukkala-abda" style="display:none;">El Beddouza</option>
    <option value="El_Gantour" class="doukkala-abda" style="display:none;">El Gantour</option>
    <option value="El_Ghiate" class="doukkala-abda" style="display:none;">El Ghiate</option>
    <option value="El_Gouraani" class="doukkala-abda" style="display:none;">El Gouraani</option>
    <option value="El_Jadida" class="doukkala-abda" style="display:none;">El Jadida</option>
    <option value="Esbiaat" class="doukkala-abda" style="display:none;">Esbiaat</option>
    <option value="Had_Soualem" class="doukkala-abda" style="display:none;">Had Soualem</option>
    <option value="Haouzia" class="doukkala-abda" style="display:none;">Haouzia</option>
    <option value="Hrara" class="doukkala-abda" style="display:none;">Hrara</option>
    <option value="Ighoud" class="doukkala-abda" style="display:none;">Ighoud</option>
    <option value="Jabria" class="doukkala-abda" style="display:none;">Jabria</option>
    <option value="Jamaat_Shaim" class="doukkala-abda" style="display:none;">Jamaat Shaim</option>
    <option value="Jdour" class="doukkala-abda" style="display:none;">Jdour</option>
    <option value="Jemaa_Shaim" class="doukkala-abda" style="display:none;">Jemaa Shaim</option>
    <option value="Jnane_Bouih" class="doukkala-abda" style="display:none;">Jnane Bouih</option>
    <option value="Khatazakane" class="doukkala-abda" style="display:none;">Khatazakane</option>
    <option value="Khmis_Ksiba" class="doukkala-abda" style="display:none;">Khmis Ksiba</option>
    <option value="Koudiat_Bni Dghough" class="doukkala-abda" style="display:none;">Koudiat Bni Dghough</option>
    <option value="Kridid" class="doukkala-abda" style="display:none;">Kridid</option>
    <option value="Laagagcha" class="doukkala-abda" style="display:none;">Laagagcha</option>
    <option value="Laâkarta" class="doukkala-abda" style="display:none;">Laâkarta</option>
    <option value="Laamamra" class="doukkala-abda" style="display:none;">Laamamra</option>
    <option value="Laamria" class="doukkala-abda" style="display:none;">Laamria</option>
    <option value="Laaounate" class="doukkala-abda" style="display:none;">Laaounate</option>
    <option value="Laatatra" class="doukkala-abda" style="display:none;">Laatatra</option>
    <option value="Labkhati" class="doukkala-abda" style="display:none;">Labkhati</option>
    <option value="Laghdira" class="doukkala-abda" style="display:none;">Laghdira</option>
    <option value="Laghnadra" class="doukkala-abda" style="display:none;">Laghnadra</option>
    <option value="Lahdar" class="doukkala-abda" style="display:none;">Lahdar</option>
    <option value="Lakhoualqa" class="doukkala-abda" style="display:none;">Lakhoualqa</option>
    <option value="Lamaachate" class="doukkala-abda" style="display:none;">Lamaachate</option>
    <option value="Lamharza_Essahel" class="doukkala-abda" style="display:none;">Lamharza Essahel</option>
    <option value="Lamrasla" class="doukkala-abda" style="display:none;">Lamrasla</option>
    <option value="Lamsabih" class="doukkala-abda" style="display:none;">Lamsabih</option>
    <option value="Larbaa_Ouled Amrane" class="doukkala-abda" style="display:none;">Larbaa Ouled Amrane</option>
    <option value="Lbir_Jdid" class="doukkala-abda" style="display:none;">Lbir Jdid</option>
    <option value="Lgharbia" class="doukkala-abda" style="display:none;">Lgharbia</option>
    <option value="Lmechrek" class="doukkala-abda" style="display:none;">Lmechrek</option>
    <option value="M'tal" class="doukkala-abda" style="display:none;">M'tal</option>
    <option value="Metrane" class="doukkala-abda" style="display:none;">Metrane</option>
    <option value="Mettouh" class="doukkala-abda" style="display:none;">Mettouh</option>
    <option value="Mogress" class="doukkala-abda" style="display:none;">Mogress</option>
    <option value="Moul_El Bergui" class="doukkala-abda" style="display:none;">Moul El Bergui</option>
    <option value="Moulay_Abdallah" class="doukkala-abda" style="display:none;">Moulay Abdallah</option>
    <option value="Nagga" class="doukkala-abda" style="display:none;">Nagga</option>
    <option value="Oualidia" class="doukkala-abda" style="display:none;">Oualidia</option>
    <option value="Oulad_Boussaken" class="doukkala-abda" style="display:none;">Oulad Boussaken</option>
    <option value="Oulad_Frej" class="doukkala-abda" style="display:none;">Oulad Frej</option>
    <option value="Oulad_Ghadbane" class="doukkala-abda" style="display:none;">Oulad Ghadbane</option>
    <option value="Oulad_Ghanem" class="doukkala-abda" style="display:none;">Oulad Ghanem</option>
    <option value="Oulad_Hamdane" class="doukkala-abda" style="display:none;">Oulad Hamdane</option>
    <option value="Oulad_Hcine" class="doukkala-abda" style="display:none;">Oulad Hcine</option>
    <option value="Oulad_Rahmoune" class="doukkala-abda" style="display:none;">Oulad Rahmoune</option>
    <option value="Oulad_Salmane" class="doukkala-abda" style="display:none;">Oulad Salmane</option>
    <option value="Oulad_Sbaita" class="doukkala-abda" style="display:none;">Oulad Sbaita</option>
    <option value="Oulad_Si Bouhya" class="doukkala-abda" style="display:none;">Oulad Si Bouhya</option>
    <option value="Oulad_Sidi Ali Ben Youssef" class="doukkala-abda" style="display:none;">Oulad Sidi Ali Ben Youssef</option>
    <option value="Ouled_Frej" class="doukkala-abda" style="display:none;">Ouled Frej</option>
    <option value="Ras_El Ain" class="doukkala-abda" style="display:none;">Ras El Ain</option>
    <option value="Saadla" class="doukkala-abda" style="display:none;">Saadla</option>
    <option value="Safi" class="doukkala-abda" style="display:none;">Safi</option>
    <option value="Saniat_Berguig" class="doukkala-abda" style="display:none;">Saniat Berguig</option>
    <option value="Sebt_Gzoula" class="doukkala-abda" style="display:none;">Sebt Gzoula</option>
    <option value="Sebt_Saiss" class="doukkala-abda" style="display:none;">Sebt Saiss</option>
    <option value="Si_Hsaien Ben Abderrahmane" class="doukkala-abda" style="display:none;">Si Hsaien Ben Abderrahmane</option>
    <option value="Sidi_Abed" class="doukkala-abda" style="display:none;">Sidi Abed</option>
    <option value="Sidi_Aissa" class="doukkala-abda" style="display:none;">Sidi Aissa</option>
    <option value="Sidi_Ali Ben Hamdouche" class="doukkala-abda" style="display:none;">Sidi Ali Ben Hamdouche</option>
    <option value="Sidi_Bennour" class="doukkala-abda" style="display:none;">Sidi Bennour</option>
    <option value="Sidi_Bouzid" class="doukkala-abda" style="display:none;">Sidi Bouzid</option>
    <option value="Sidi_Chiker" class="doukkala-abda" style="display:none;">Sidi Chiker</option>
    <option value="Sidi_Ettiji" class="doukkala-abda" style="display:none;">Sidi Ettiji</option>
    <option value="Sidi_M'hamed Akhdim" class="doukkala-abda" style="display:none;">Sidi M'hamed Akhdim</option>
    <option value="Sidi_Smail" class="doukkala-abda" style="display:none;">Sidi Smail</option>
    <option value="Tamda" class="doukkala-abda" style="display:none;">Tamda</option>
    <option value="Youssoufia" class="doukkala-abda" style="display:none;">Youssoufia</option>
    <option value="Zaouiat_Lakouacem" class="doukkala-abda" style="display:none;">Zaouiat Lakouacem</option>
    <option value="Zaouiat_Saiss" class="doukkala-abda" style="display:none;">Zaouiat Saiss</option>
    <option value="Zemamra" class="doukkala-abda" style="display:none;">Zemamra</option>
    <option value="Adrej" class="fes-boulemane" style="display:none;">Adrej</option>
    <option value="Aghbalou_Aqorar" class="fes-boulemane" style="display:none;">Aghbalou Aqorar</option>
    <option value="Ahl_Sidi Lahcen" class="fes-boulemane" style="display:none;">Ahl Sidi Lahcen</option>
    <option value="Ain_Bida" class="fes-boulemane" style="display:none;">Ain Bida</option>
    <option value="Ain_Cheggag" class="fes-boulemane" style="display:none;">Ain Cheggag</option>
    <option value="Ain_Timguenai" class="fes-boulemane" style="display:none;">Ain Timguenai</option>
    <option value="Ait_Bazza" class="fes-boulemane" style="display:none;">Ait Bazza</option>
    <option value="Ait_El Mane" class="fes-boulemane" style="display:none;">Ait El Mane</option>
    <option value="Ait_Makhlouf" class="fes-boulemane" style="display:none;">Ait Makhlouf</option>
    <option value="Ait_Sebaa Lajrouf" class="fes-boulemane" style="display:none;">Ait Sebaa Lajrouf</option>
    <option value="Almis_Marmoucha" class="fes-boulemane" style="display:none;">Almis Marmoucha</option>
    <option value="Azzaba" class="fes-boulemane" style="display:none;">Azzaba</option>
    <option value="Bhalil" class="fes-boulemane" style="display:none;">Bhalil</option>
    <option value="Bir_Tam Tam" class="fes-boulemane" style="display:none;">Bir Tam Tam</option>
    <option value="Boulemane" class="fes-boulemane" style="display:none;">Boulemane</option>
    <option value="Boulmane" class="fes-boulemane" style="display:none;">Boulmane</option>
    <option value="Dar_El Hamra" class="fes-boulemane" style="display:none;">Dar El Hamra</option>
    <option value="El_Menzel" class="fes-boulemane" style="display:none;">El Menzel</option>
    <option value="El_Mers" class="fes-boulemane" style="display:none;">El Mers</option>
    <option value="El_Orjane" class="fes-boulemane" style="display:none;">El Orjane</option>
    <option value="Enjil" class="fes-boulemane" style="display:none;">Enjil</option>
    <option value="Ermila" class="fes-boulemane" style="display:none;">Ermila</option>
    <option value="Fès" class="fes-boulemane" style="display:none;">Fès</option>
    <option value="Fritissa" class="fes-boulemane" style="display:none;">Fritissa</option>
    <option value="Guigou" class="fes-boulemane" style="display:none;">Guigou</option>
    <option value="Ighzrane" class="fes-boulemane" style="display:none;">Ighzrane</option>
    <option value="Imouzzer" class="fes-boulemane" style="display:none;">Imouzzer</option>
    <option value="Imouzzer_Marmoucha" class="fes-boulemane" style="display:none;">Imouzzer Marmoucha</option>
    <option value="Imouzzer-Kendar" class="fes-boulemane" style="display:none;">Imouzzer-Kendar</option>
    <option value="Kandar_Sidi Khiar" class="fes-boulemane" style="display:none;">Kandar Sidi Khiar</option>
    <option value="Ksabi_Moulouya" class="fes-boulemane" style="display:none;">Ksabi Moulouya</option>
    <option value="Laanoussar" class="fes-boulemane" style="display:none;">Laanoussar</option>
    <option value="Méchouar_Fès Jdid" class="fes-boulemane" style="display:none;">Méchouar Fès Jdid</option>
    <option value="Moulay_Yaâcoub" class="fes-boulemane" style="display:none;">Moulay Yaâcoub</option>
    <option value="Moulay_Yaccoub" class="fes-boulemane" style="display:none;">Moulay Yaccoub</option>
    <option value="Mtarnagha" class="fes-boulemane" style="display:none;">Mtarnagha</option>
    <option value="Ouizeght" class="fes-boulemane" style="display:none;">Ouizeght</option>
    <option value="Oulad_Ali Youssef" class="fes-boulemane" style="display:none;">Oulad Ali Youssef</option>
    <option value="Oulad_Mkoudou" class="fes-boulemane" style="display:none;">Oulad Mkoudou</option>
    <option value="Oulad_Tayeb" class="fes-boulemane" style="display:none;">Oulad Tayeb</option>
    <option value="Outat_El Haj" class="fes-boulemane" style="display:none;">Outat El Haj</option>
    <option value="Ras_Tabouda" class="fes-boulemane" style="display:none;">Ras Tabouda</option>
    <option value="Ribat_el Kheir" class="fes-boulemane" style="display:none;">Ribat el Kheir</option>
    <option value="Sefrou" class="fes-boulemane" style="display:none;">Sefrou</option>
    <option value="Serghina" class="fes-boulemane" style="display:none;">Serghina</option>
    <option value="Sidi_Ahmed" class="fes-boulemane" style="display:none;">Sidi Ahmed</option>
    <option value="Sidi_Boutayeb" class="fes-boulemane" style="display:none;">Sidi Boutayeb</option>
    <option value="Sidi_Harazem" class="fes-boulemane" style="display:none;">Sidi Harazem</option>
    <option value="Sidi_Youssef Ben Ahmed" class="fes-boulemane" style="display:none;">Sidi Youssef Ben Ahmed</option>
    <option value="Skhinate" class="fes-boulemane" style="display:none;">Skhinate</option>
    <option value="Skoura_M'daz" class="fes-boulemane" style="display:none;">Skoura M'daz</option>
    <option value="Tafajight" class="fes-boulemane" style="display:none;">Tafajight</option>
    <option value="Talzemt" class="fes-boulemane" style="display:none;">Talzemt</option>
    <option value="Tazouta" class="fes-boulemane" style="display:none;">Tazouta</option>
    <option value="Tissaf" class="fes-boulemane" style="display:none;">Tissaf</option>
    <option value="Zaouiat_Bougrine" class="fes-boulemane" style="display:none;">Zaouiat Bougrine</option>
    <option value="Ameur_Seflia" class="gharb-chrarda-beni-hssen" style="display:none;">Ameur Seflia</option>
    <option value="Arbaoua" class="gharb-chrarda-beni-hssen" style="display:none;">Arbaoua</option>
    <option value="Azghar" class="gharb-chrarda-beni-hssen" style="display:none;">Azghar</option>
    <option value="Bahhara_Oulad Ayad" class="gharb-chrarda-beni-hssen" style="display:none;">Bahhara Oulad Ayad</option>
    <option value="Ben_Mansour" class="gharb-chrarda-beni-hssen" style="display:none;">Ben Mansour</option>
    <option value="Beni_Malek" class="gharb-chrarda-beni-hssen" style="display:none;">Beni Malek</option>
    <option value="Boumaiz" class="gharb-chrarda-beni-hssen" style="display:none;">Boumaiz</option>
    <option value="Chouafaa" class="gharb-chrarda-beni-hssen" style="display:none;">Chouafaa</option>
    <option value="Dar_Bel Amri" class="gharb-chrarda-beni-hssen" style="display:none;">Dar Bel Amri</option>
    <option value="Dar_Gueddari" class="gharb-chrarda-beni-hssen" style="display:none;">Dar Gueddari</option>
    <option value="Had_Kourt" class="gharb-chrarda-beni-hssen" style="display:none;">Had Kourt</option>
    <option value="Haddada" class="gharb-chrarda-beni-hssen" style="display:none;">Haddada</option>
    <option value="Jorf_El Melha" class="gharb-chrarda-beni-hssen" style="display:none;">Jorf El Melha</option>
    <option value="Kariat_Ben Aouda" class="gharb-chrarda-beni-hssen" style="display:none;">Kariat Ben Aouda</option>
    <option value="Kceibya" class="gharb-chrarda-beni-hssen" style="display:none;">Kceibya</option>
    <option value="Kénitra" class="gharb-chrarda-beni-hssen" style="display:none;">Kénitra</option>
    <option value="Lalla_Mimouna" class="gharb-chrarda-beni-hssen" style="display:none;">Lalla Mimouna</option>
    <option value="M'saada" class="gharb-chrarda-beni-hssen" style="display:none;">M'saada</option>
    <option value="Mechra_Bel Ksiri" class="gharb-chrarda-beni-hssen" style="display:none;">Mechra Bel Ksiri</option>
    <option value="Mehdia" class="gharb-chrarda-beni-hssen" style="display:none;">Mehdia</option>
    <option value="Mnasra" class="gharb-chrarda-beni-hssen" style="display:none;">Mnasra</option>
    <option value="Mograne" class="gharb-chrarda-beni-hssen" style="display:none;">Mograne</option>
    <option value="Moulay_Bousselham" class="gharb-chrarda-beni-hssen" style="display:none;">Moulay Bousselham</option>
    <option value="Oued_El Makhazine" class="gharb-chrarda-beni-hssen" style="display:none;">Oued El Makhazine</option>
    <option value="Oulad_Ben Hammadi" class="gharb-chrarda-beni-hssen" style="display:none;">Oulad Ben Hammadi</option>
    <option value="Oulad_H'cine" class="gharb-chrarda-beni-hssen" style="display:none;">Oulad H'cine</option>
    <option value="Oulad_Slama" class="gharb-chrarda-beni-hssen" style="display:none;">Oulad Slama</option>
    <option value="Sfafaa" class="gharb-chrarda-beni-hssen" style="display:none;">Sfafaa</option>
    <option value="Sidi_Allal Tazi" class="gharb-chrarda-beni-hssen" style="display:none;">Sidi Allal Tazi</option>
    <option value="Sidi_Boubker El Haj" class="gharb-chrarda-beni-hssen" style="display:none;">Sidi Boubker El Haj</option>
    <option value="Sidi_Kacem" class="gharb-chrarda-beni-hssen" style="display:none;">Sidi Kacem</option>
    <option value="Sidi_Mohamed Lahmar" class="gharb-chrarda-beni-hssen" style="display:none;">Sidi Mohamed Lahmar</option>
    <option value="Sidi_Slimane" class="gharb-chrarda-beni-hssen" style="display:none;">Sidi Slimane</option>
    <option value="Sidi_Taibi" class="gharb-chrarda-beni-hssen" style="display:none;">Sidi Taibi</option>
    <option value="Sidi_Yahya" class="gharb-chrarda-beni-hssen" style="display:none;">Sidi Yahya</option>
    <option value="Sidi_Yahya El Gharb" class="gharb-chrarda-beni-hssen" style="display:none;">Sidi Yahya El Gharb</option>
    <option value="Souk_Tlet El Gharb" class="gharb-chrarda-beni-hssen" style="display:none;">Souk Tlet El Gharb</option>
    <option value="Ain_Harrouda" class="grand-casablanca" style="display:none;">Ain Harrouda</option>
    <option value="Aïn_Harrouda" class="grand-casablanca" style="display:none;">Aïn Harrouda</option>
    <option value="Béni_Yakhlef" class="grand-casablanca" style="display:none;">Béni Yakhlef</option>
    <option value="Bouskoura" class="grand-casablanca" style="display:none;">Bouskoura</option>
    <option value="Casablanca" class="grand-casablanca" style="display:none;">Casablanca</option>
    <option value="Chellalate" class="grand-casablanca" style="display:none;">Chellalate</option>
    <option value="Dar_Bouazza" class="grand-casablanca" style="display:none;">Dar Bouazza</option>
    <option value="El_Majjatia Ouled Taleb" class="grand-casablanca" style="display:none;">El Majjatia Ouled Taleb</option>
    <option value="Errahma" class="grand-casablanca" style="display:none;">Errahma</option>
    <option value="Lahraouyine" class="grand-casablanca" style="display:none;">Lahraouyine</option>
    <option value="Lamkansa" class="grand-casablanca" style="display:none;">Lamkansa</option>
    <option value="Mediouna" class="grand-casablanca" style="display:none;">Mediouna</option>
    <option value="Médiouna" class="grand-casablanca" style="display:none;">Médiouna</option>
    <option value="Mohammedia" class="grand-casablanca" style="display:none;">Mohammedia</option>
    <option value="Nouaceur" class="grand-casablanca" style="display:none;">Nouaceur</option>
    <option value="Oulad_Salah" class="grand-casablanca" style="display:none;">Oulad Salah</option>
    <option value="Sidi_Hajjaj Oued Hassar" class="grand-casablanca" style="display:none;">Sidi Hajjaj Oued Hassar</option>
    <option value="Sidi_Moussa Ben Ali" class="grand-casablanca" style="display:none;">Sidi Moussa Ben Ali</option>
    <option value="Sidi_Moussa El Majdoub" class="grand-casablanca" style="display:none;">Sidi Moussa El Majdoub</option>
    <option value="Tamaris" class="grand-casablanca" style="display:none;">Tamaris</option>
    <option value="Tit_Mellil" class="grand-casablanca" style="display:none;">Tit Mellil</option>
</select>
      <div class="help-block with-errors"></div>
   </div>
</div>

<script>
$(document).ready(function(){

      $('select.region').on('change',function(){
               $('select.ville').children('option').hide();
               $('select.ville').find('.'+$(this).val()).show();
      });

});
</script>