<footer class="footer">
                <div class="container-fluid">
                   
                    <p class="copyright text-center">
                        
                        CREATE BY &nbsp;&nbsp;
                        <a href="https://www.facebook.com/nino.issam">ISSAM RAOUF</a>&nbsp; & &nbsp; <a href="https://www.facebook.com/nino.issam">SOUFIANE RAMOUDA</a> &nbsp; &copy;&nbsp;   <script>
                            document.write(new Date().getFullYear())
                        </script>
                    </p>
                </div>
            </footer>