{% extends 'base.html.twig' %}

{% block stylesheets %}
  	    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('plugins/front/css/beta_layout_71239.css')}}" rel="stylesheet" />
        <link href="{{ asset('plugins/front/css/beta_styles_71239.css')}}" rel="stylesheet" />
        <link href="{{ asset('plugins/front/css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{ asset('plugins/front/css/font-awesome.css')}}" rel="stylesheet" />
         <script src="{{ asset('plugins/js/jquery-3.2.1.min.js')}}" ></script>



		{% block specifics_stylesheets %}{% endblock %}
    <link href="{{ asset('plugins/front/css/main.css')}}" rel="stylesheet" />

 
{% endblock %}
{% block body_class %}{% endblock %}
{% block body %}

        <div class="popin-shadow"></div>
        <a href="#" title="Fermer le menu" class="mobileMenuHoverlay"><i class="fa fa-times-circle fa-3x"></i></a>
        <section id="container" role="application" data-pagename="listing">

        {% block header %}
              {% include 'PartialsFront/Header.html.twig' %}
        {% endblock %}
          {% block block_no_filter %}
            <div class="apn-hbl apn-hb">
                <div id="hbl-s" class="teal-apn"></div>
            </div>

            {% block topfilter %}
              {% include 'PartialsFront/Filter.html.twig' %}
            {% endblock %}

            <main id="main" role="main">

               {% block content %}
               
              
               {% endblock %}

            </main>
          {% endblock %}

            
        {% block footer %}
              {% include 'PartialsFront/Footer.html.twig' %}
        {% endblock %}

        </section>
          

	 
{% endblock %}

{% block javascripts %}
   
		<script src="{{ asset('plugins/js/bootstrap.min.js')}}" ></script>
		<script src="{{ asset('plugins/front/js/mobile-detect.min.js')}}" ></script>
		<script src="{{ asset('plugins/front/js/beta_base_71239.js')}}" ></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('plugins/front/js/app-front.js')}}" ></script>
		 

       
        {% block specifics_javascripts %}{% endblock %}
	    
</script>
{% endblock %}


