{% extends 'layoutAdmin.html.twig'%}

{% block content %}
   <div class="row">
         <div class="col-md-12">
            <div class="row"> {% include 'FlashMessages/FlashMessages.html.twig'%} </div>
                                              
                        <div class="row">
                            {{ form_errors(form) }}
                        </div>
                        <div class="card">
                            {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                            <div class="card-header card-header-text" data-background-color="blue">
                                <h4 class="card-title">Nouveau Pack</h4>
                            </div>
                            
                                                              
                            <div class="card-content">
                                <div class="row">
                                   
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{form_widget(form.value)}}        
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{form_widget(form.price)}}        
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{form_widget(form.title)}}        
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{form_widget(form.description)}}        
                                        </div>
                                    </div>

                                </div>  
                            </div>
                            <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-rose btn-fill">
                                        <span class="btn-label">
                                             <i class="material-icons">check</i>
                                        </span>Ajouter
                                    </button>
                             </div>
                             {{ form_row(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                 
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
 
{% endblock %}




