{% extends 'layoutAdmin.html.twig' %}
{% block title %}77Maroc-Permissions{% endblock %}
{% block content %}
 <div class="row">
        <div class="toolbar pull-right">
            <a class="btn btn-primary" href="{{ path('users_admins_list')}}">
        <span class="btn-label">
            <i class="material-icons">keyboard_arrow_left</i>
        </span>Retourner à la liste
             </a>
        </div>
    </div>
    <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
     </div>
            <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs" data-background-color="blue">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Permissions:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active">
                                            <a href="#permissions" data-toggle="tab">
                                                        <i class="material-icons">build</i>
                                                        <div class="ripple-container"></div>
                                                    </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="permissions">
                                    {{ form_start(formPermissions)}}
                                    <div class="row">
                                      {{ form_widget(formPermissions)}}
                                    </div>
                                    <div class="row text-center">
                                        <input type="submit" class="btn btn-success" name="Valider">
                                    </div>
                                    {{ form_end(formPermissions)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          

{% endblock %}