{% extends 'layoutAdmin.html.twig'%}
{% block title %}77Maroc-List{% endblock %}
 {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="toolbar pull-right">
                <a class="btn" href="{{ path('users_admins_add')}}"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nouveau</a>
          </div>
        </div>
        <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
        </div>
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Liste admins</h4>
                <div class="material-datatables">
                    <table id="table-users" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">Email</th>
                                <th class="text-center">Nom & Prenom</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Active</th>
                                <th class="text-center">Dernière connexion</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center">
                                <th class="text-center">Email</th>
                                <th class="text-center">Nom & Prenom</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Active</th>
                                <th class="text-center">Dernière connexion</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for user in users %}
                            <tr class="text-center" id="{{user.id}}">
                                <td>{{user.email}}</td>
                                <td>{{user.firstName}} {{user.lastName}}</td>
                                <td>{{user.phone}}</td>
                                <td> {% if user.enabled  == 1 %}OUI{% else %}NON{% endif %}</td>
                                <td>{% if user.lastLogin %} {{user.lastLogin |date("m/d/Y H:i:s") }} {% else %} ------- {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('users_admins_perimission',{'id':user.id})}}" class="btn btn-simple btn-warning btn-icon">  <i class="material-icons">brightness_auto</i></a>
                                    <a href="{{path('users_admins_edit',{'id':user.id})}}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">mode_edit</i></a>
                                    <a href="#" class="btn btn-simple btn-danger btn-icon remove" data-toggle="modal" data-target="#modal-{{user.id}}"><i class="material-icons">close</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
{% for user in users %}
  {% include 'Modals/delete_user.html.twig' with {'idUser': user.id,'message':'Cet Admin'} %}
{% endfor %}

{% endblock %}