{% extends 'layoutFront.html.twig' %}
  {% block specifics_stylesheets %}
            <link href="{{ asset('plugins/front/css/owl.carousel.min.css')}}" rel="stylesheet" />
             <link href="{{ asset('plugins/front/css/owl.theme.default.min.css')}}" rel="stylesheet" />
  {% endblock %}
{% block content %}   

  <div class="container-fluid">
  <div class="text-center" style="padding:6px;top: 0px;left:0;right:0;">
    {% if publicityTop.type == 'PUB SCRIPT' %}
        <div id="script-check" style="margin: auto;width: 100%">
          {{ publicityTop.script }} 
        </div>
     {% else %} 
      <a href="{{publicityTop.url}}" target="_blank" >
         <img src="{{ vich_uploader_asset(publicityTop, 'imageFile')  }}"  style="width:100%" height="160" border="0" />
      </a>

    {% endif %}
  </div>  

     <section class="content-center" style="overflow: hidden;">
         <section class="col-lg-12 col-sm-12 col-xs-12  style-div-sh">

               {% for i in 1..8 %}
                       <div class="col-md-3 col-sm-3 col-xs-6 f-category " data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
                           <a href="#">
                              <div class="icon-img">
                                 <img src="http://via.placeholder.com/300x300" class="img-responsive" alt="img">
                              </div>
                              <h6> cate</h6>
                           </a>
                        </div>
               {% endfor %}
 
        </section>


        <section class="col-lg-12 col-sm-12 col-xs-12  style-div-sh" style="margin-top:10px;">
                    <h2>Derniéres Annonces</h2>
                    <div class="owl-carousel " >
                         {% for ad in lastAds %}
                                       <div data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s;  animation-delay: 0s; padding:10px;">
                                                 <a href="#">
                                                  <div class="icon-img">
                                                     <img src="http://via.placeholder.com/300x300" class="img-responsive" alt="img">
                                                  </div>
                                                  <h6>{{ ad.title }}</h6>
                                               </a>
                                            </div>
                          {% endfor %}
                    </div>  
        </section>
     </section>

 
  <div class="row text-center" style="padding:10px; ">
    {% if publicityBottom.type == 'PUB SCRIPT' %}
        <div id="script-check" style="margin: auto;width: 100%">
          {{ publicityBottom.script }} 
        </div>
     {% else %} 
      <a href="{{publicityBottom.url}}" target="_blank" >
        <img src="{{ vich_uploader_asset(publicityBottom, 'imageFile')  }}" style="width:100%" >
      </a>

    {% endif %}
  </div>  

</div>
 
{% endblock %}

{% block specifics_javascripts %}

 <script src="{{asset('plugins/front/js/owl.carousel.min.js')}}"></script>
 <script type="text/javascript">
        $(document).ready(function(){
          if($('#script-check'))
          {
            $('#script-check').html($('#script-check').text());
          }
          $(".owl-carousel").owlCarousel({
            // Most important owl features
            items : 5,
            itemsDesktop : [1199,5],
            itemsDesktopSmall : [980,3],
            itemsTablet: [768,2],
            itemsTabletSmall: false,
            itemsMobile : [479,1],
            singleItem : false,
         
            //Basic Speeds
            slideSpeed : 100,
            paginationSpeed : 100,
            rewindSpeed : 10,
         
            //Autoplay
            autoPlay : true,
            stopOnHover : true,

 
          });
        });
 </script>

{% endblock %}