{% extends '::Default/Spaces/Showroom/ShowroomLyout.html.twig' %}


                {% block normal_holder %}
     
<section class="content-center ">
      {% if type=="actives" %}
       
  			  <h3>{{ numberofads }}/{{ numberOfAdsAllowed }} Activé</h3>      
  	  
      {% endif %}
 <section id="listingAds" class="grid-3-1">
   
        <section class="list mainList tabs" style="width: 100%;">
            
            
            <section class="tabsContent block-white dontSwitch">
            
                <ul>
	                    <div> 
	                    		{% if ads|length == 0 %}
				                     <h1 class="display-4 text-center">Désolé, aucun annonce n'a été trouvé </h1>
				                {% endif %}
	                     {% for ad in ads %}

	                    <li>
	                        <a href="{{ path('detail_ad',{'slug':ad.slug})}}" class="list_item clearfix trackable">
	                            <div class="item_image">
	                                

	                                <span class="item_imagePic" style="background:url('{{ asset('plugins/front/img/no-picture.png') }}') center no-repeat;">
	                                           </span>
	                            </div>
	                            <section class="item_infos">
	                                <h2 class="item_title" itemprop="name">{{ ad.id }} ---- {{ ad.title }}</h2>
	                                <p class="item_supp" itemprop="category" content="Mat&eacute;riel Agricole">
	                                    {{ ad.title }}
	                                </p>
	                                <p class="item_supp" itemprop="availableAtOrFrom" itemscope itemtype="http://schema.org/Place">
	                                    <meta itemprop="address" content="Jumièges" />Categorie : {{ ad.category }}
	                                    <meta itemprop="address" content="Seine-Maritime" />
	                                </p>
	                                <meta itemprop="priceCurrency" content="EUR" />
	                                <aside class="item_absolute">
	                                    <p class="item_supp" itemprop="availabilityStarts" content="2018-02-25">
	                                        <span class="text-primary">{{ad.createdAt|date('Y-m-d H:i:s')}}</span>
	                                    </p>
	                                    {% if type=="actives" %}
                                                
	                                        		 <button  onclick="window.location.href='{{ path('disable_ad',{ 'id': ad.id }) }}'" class="btn btn-primary btn-rounded btn-sm my-0 btn-disable">Desactivé</button>
	                                            
                                        {% endif %}
 
	                                </aside>

	                            </section>
	                        </a>
	                    </li>
	                    {% endfor %}
	                </div>
                </ul>
            </section>
            <footer class="pagination clearfix">
                {{ knp_pagination_render(ads) }}
            </footer>
        </section>
 
       
        
    </section>
</section>
{% endblock %}