{% extends 'layoutFront.html.twig' %}

{% block block_no_filter %}
      
      <section class="content-center" style="overflow: hidden;">
                 
                <div class="container">
	                <div class="row">
	                             
	             	 	 {{ render(controller('AppBundle:Front/NormalSpace:index')) }}

						<div class="jumbotron col-md-3 col-sm-12 col-xs-12 top-space-action">
								   <a href="{{ path('sold_payment_index') }}" ><h2 class="display-6">Recharger Votre Compte</h2></a>
						</div>

						 {{ render(controller('AppBundle:Front/ShowroomSpace:expiration')) }}

	                </div>

	        <div class="row espace-content">

          <div class="col-md-3" {# style="margin-bottom: 310px;" #}>


            <div class="card">
				 <div class="card-body">
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">
					     	<div class="card-menu-item {% if app.request.attributes.get('_route') == 'vitrine_info_index'%}card-menu-item-active {% endif %}" style=""> <a href="{{ path('vitrine_info_index') }}" >Mes Info</a> </div>
				    </li>
				    <li class="list-group-item">
					     	<div class="card-menu-item {% if app.request.attributes.get('_route') == 'annonces_liste_index'%}card-menu-item-active {% endif %}" style=""> <a href="{{ path('annonces_liste_index',{ 'type' : "actives" }) }}">Annonces Actives</a> </div>
				    </li>
				    <li class="list-group-item">
					     	<div class="card-menu-item {% if app.request.attributes.get('_route') == 'annonces_liste_index'%}card-menu-item-active {% endif %}" style=""><a href="{{ path('annonces_liste_index',{ 'type' : "enattente" }) }}" >Annonces en attente</a></div>
				    </li>
				    <li class="list-group-item">
					     	<div class="card-menu-item {% if app.request.attributes.get('_route') == 'annonces_liste_index'%}card-menu-item-active {% endif %}" style=""> <a href="{{ path('annonces_liste_index',{ 'type' : "inactives" }) }}" >Annonce inactives</a></div>
				    </li>
				    <li class="list-group-item">
					     	<div class="card-menu-item {% if app.request.attributes.get('_route') == 'inbox_index'%}card-menu-item-active {% endif %}" style=""><a href="{{ path('inbox_index') }}" >Messages</a></div>
				    </li>
				     
				  </ul>
				  </div>
				  
				</div>

        </div>


                    <div class="col-md-8">
	                          
         					 {% block normal_holder %}
                       
                        

                             {% endblock %}

	               </div> 
	        </div>


	               

               

                </div>

      </section>

{% endblock %}


             