{% extends '::Default/Spaces/Showroom/ShowroomLyout.html.twig' %}


                {% block normal_holder %}
   
 

          <div class="col-xs-6">
        
        
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" >
                        <h3 class="panel-title display-td" >Recharge de Compte</h3>
                        <div class="display-td" >                            
                            <img class="img-responsive pull-right" src="{{ asset('plugins/front/img/pay.png')}}">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body" style="background-color: #aeaeae33;">
                                      <fieldset>
      
            <div class="control-group">
                <label label-default="" class="control-label">Nom sur la carte</label>
                <div class="controls">
                    <input class="form-control" disabled pattern="\w+ \w+.*" title="First and last name" required="" type="text">
                </div>
            </div>
            <div class="control-group">
                <label label-default="" class="control-label">Numéro de carte</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits" required="" type="text">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits" required="" type="text">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits" required="" type="text">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits" required="" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label label-default="" class="control-label">Expiration</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-9">
                            <select class="form-control" disabled name="cc_exp_mo">
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" disabled name="cc_exp_yr">
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label label-default="" class="control-label">CVV</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required="" type="text">
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
            </div>
            <div class="control-group">
              <label label-default="" class="control-label"></label>
              <div class="controls">
                <button type="submit" class="btn btn-primary" disabled>Payer</button> 
                <button type="button" class="btn btn-default" disabled>Annuler</button>
              </div>
            </div>
        </fieldset>
                </div>
            </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->
            
            
        </div> 


        <div class="col-xs-6">

             Autre moyenne de payement

        </div>
 

                
                          

                {% endblock %}