{% extends 'layoutAdmin.html.twig'%}
 {% set boite1 = ""%} {% set boite2 = ""%} {% set boite3 = ""%} {% set boite4 = ""%} {% set boite5 = ""%} {% set boite6 = ""%} {% for boite in BoxAds %} {% if boite.boite == 1 %} {% set boite1 = boite %} {% elseif boite.boite == 2 %} {% set boite2 = boite %} {% elseif boite.boite == 3 %} {% set boite3 = boite %} {% elseif boite.boite == 4 %} {% set boite4 = boite %} {% elseif boite.boite == 5 %} {% set boite5 = boite %} {% else %} {% set boite6 = boite %} {% endif %} {% endfor %}
{% block content %} 
<div class="row">
    <div class="col-md-12">
        <h3 class="title text-center">Les boites d'annonces</h3>
        <br />
      <div class="nav-center">
       <ul class="nav nav-pills nav-pills-info nav-pills-icons" role="tablist">
          <li class="active">
             <a href="#boite1" role="tab" data-toggle="tab">
             <i class="material-icons">inbox</i> Boite 1
             </a>
          </li>
          <li>
             <a href="#boite2" role="tab" data-toggle="tab">
             <i class="material-icons">inbox</i> Boite 2
             </a>
          </li>
          <li>
             <a href="#boite3" role="tab" data-toggle="tab">
             <i class="material-icons">inbox</i> Boite 3
             </a>
          </li>
          <li>
             <a href="#boite4" role="tab" data-toggle="tab">
             <i class="material-icons">inbox</i> Boite 4
             </a>
          </li>
          <li>
             <a href="#boite5" role="tab" data-toggle="tab">
             <i class="material-icons">inbox</i> Boite 5
             </a>
          </li>
          <li>
             <a href="#boite6" role="tab" data-toggle="tab">
             <i class="material-icons">inbox</i> Boite 6
             </a>
          </li>
       </ul>
    </div>
        <div class="tab-content">
            <div class="tab-pane active" id="boite1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Boite D'Annonce 1</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Statut</th>
                                    <th>Affecter</th>
                                    <th></th>
                                    <th>Activer/Desactiver</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:20%">
                                            {% if boite1.boiteCheck == 0%}
                                            <h5 class="text-warning btn-act-{{boite1.id}}">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite1.id}}" style="display:none;">Actif</h5> {% else %}
                                            <h5 class="text-warning btn-act-{{boite1.id}}" style="display:none;">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite1.id}}">Actif</h5> {% endif %}
                                        </td>
                                        <td style="width:30%">
                                            <select name="admin-boite1" class="form-control text-center">
                                                <option value="0">----------Affecter boite a admin------</option>
                                                {% for admin in admins %}
                                                <option value="{{admin.id}}" {% if boite1.user %} {% if boite1.user.id==admin.id %} selected {% endif %} {% endif %}>{{admin.username}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="width:25%">
                                            <a class="btn btn-info affecter-admin" data-boiteId="{{boite1.id}}" data-typeB="admin-boite1">Affecter</a>
                                        </td>
                                        <td style="width:25%">
                                            {% if boite1.boiteCheck == 0%}
                                            <a class="btn btn-success activted-boite btn-act-{{boite1.id}}" data-boiteId="{{boite1.id}}" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite1.id}}" style="display:none" data-boiteId="{{boite1.id}}" data-activted="0">Désactiver</a> {% else %}
                                            <a class="btn btn-success activted-boite btn-act-{{boite1.id}}" data-boiteId="{{boite1.id}}" style="display:none" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite1.id}}" data-boiteId="{{boite1.id}}" data-activted="0">Désactiver</a> {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="boite2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Boite D'annonce 2</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Statut</th>
                                    <th>Affecter</th>
                                    <th></th>
                                    <th>Activer/Desactiver</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:20%">
                                            {% if boite2.boiteCheck == 0%}
                                            <h5 class="text-warning btn-act-{{boite2.id}}">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite2.id}}" style="display:none;">Actif</h5> {% else %}
                                            <h5 class="text-warning btn-act-{{boite2.id}}" style="display:none;">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite2.id}}">Actif</h5> {% endif %}
                                        </td>
                                        <td style="width:30%">
                                            <select name="admin-boite2" class="form-control text-center">
                                                <option value="0">----------Affecter boite a admin------</option>
                                                {% for admin in admins %}
                                                <option value="{{admin.id}}" {% if boite2.user %} {% if boite2.user.id==admin.id %} selected {% endif %} {% endif %}>{{admin.username}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="width:25%">
                                            <a class="btn btn-info affecter-admin" data-boiteId="{{boite2.id}}" data-typeB="admin-boite2">Affecter</a>
                                        </td>
                                        <td style="width:25%">
                                            {% if boite2.boiteCheck == 0%}
                                            <a class="btn btn-success activted-boite btn-act-{{boite2.id}}" data-boiteId="{{boite2.id}}" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite2.id}}" style="display:none" data-boiteId="{{boite2.id}}" data-activted="0">Désactiver</a> {% else %}
                                            <a class="btn btn-success activted-boite btn-act-{{boite2.id}}" data-boiteId="{{boite2.id}}" style="display:none" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite2.id}}" data-boiteId="{{boite2.id}}" data-activted="0">Désactiver</a> {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="boite3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Boite Annonce 3</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Statut</th>
                                    <th>Affecter</th>
                                    <th></th>
                                    <th>Activer/Desactiver</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:20%">
                                            {% if boite3.boiteCheck == 0%}
                                            <h5 class="text-warning btn-act-{{boite3.id}}">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite3.id}}" style="display:none;">Actif</h5> {% else %}
                                            <h5 class="text-warning btn-act-{{boite3.id}}" style="display:none;">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite3.id}}">Actif</h5> {% endif %}
                                        </td>
                                        <td style="width:30%">
                                            <select name="admin-boite3" class="form-control text-center">
                                                <option value="0">----------Affecter boite a admin------</option>
                                                {% for admin in admins %}
                                                <option value="{{admin.id}}" {% if boite3.user %} {% if boite3.user.id==admin.id %} selected {% endif %} {% endif %}>{{admin.username}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="width:25%">
                                            <a class="btn btn-info affecter-admin" data-boiteId="{{boite3.id}}" data-typeB="admin-boite3">Affecter</a>
                                        </td>
                                        <td style="width:25%">
                                            {% if boite3.boiteCheck == 0%}
                                            <a class="btn btn-success activted-boite btn-act-{{boite3.id}}" data-boiteId="{{boite3.id}}" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite3.id}}" style="display:none" data-boiteId="{{boite3.id}}" data-activted="0">Désactiver</a> {% else %}
                                            <a class="btn btn-success activted-boite btn-act-{{boite3.id}}" data-boiteId="{{boite3.id}}" style="display:none" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite3.id}}" data-boiteId="{{boite3.id}}" data-activted="0">Désactiver</a> {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="boite4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Boite D'annonce 4</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Statut</th>
                                    <th>Affecter</th>
                                    <th></th>
                                    <th>Activer/Desactiver</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:20%">
                                            {% if boite4.boiteCheck == 0%}
                                            <h5 class="text-warning btn-act-{{boite4.id}}">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite4.id}}" style="display:none;">Actif</h5> {% else %}
                                            <h5 class="text-warning btn-act-{{boite4.id}}" style="display:none;">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite4.id}}">Actif</h5> {% endif %}
                                        </td>
                                        <td style="width:30%">
                                            <select name="admin-boite4" class="form-control text-center">
                                                <option value="0">----------Affecter boite a admin------</option>
                                                {% for admin in admins %}
                                                <option value="{{admin.id}}" {% if boite4.user %} {% if boite4.user.id==admin.id %} selected {% endif %} {% endif %}>{{admin.username}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="width:25%">
                                            <a class="btn btn-info affecter-admin" data-boiteId="{{boite4.id}}" data-typeB="admin-boite4">Affecter</a>
                                        </td>
                                        <td style="width:25%">
                                            {% if boite4.boiteCheck == 0%}
                                            <a class="btn btn-success activted-boite btn-act-{{boite4.id}}" data-boiteId="{{boite4.id}}" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite4.id}}" style="display:none" data-boiteId="{{boite4.id}}" data-activted="0">Désactiver</a> {% else %}
                                            <a class="btn btn-success activted-boite btn-act-{{boite4.id}}" data-boiteId="{{boite4.id}}" style="display:none" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite4.id}}" data-boiteId="{{boite4.id}}" data-activted="0">Désactiver</a> {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="boite5">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Boite D'annonce 5</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Statut</th>
                                    <th>Affecter</th>
                                    <th></th>
                                    <th>Activer/Desactiver</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:20%">
                                            {% if boite5.boiteCheck == 0%}
                                            <h5 class="text-warning btn-act-{{boite5.id}}">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite5.id}}" style="display:none;">Actif</h5> {% else %}
                                            <h5 class="text-warning btn-act-{{boite5.id}}" style="display:none;">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite5.id}}">Actif</h5> {% endif %}
                                        </td>
                                        <td style="width:30%">
                                            <select name="admin-boite5" class="form-control text-center">
                                                <option value="0">----------Affecter boite a admin------</option>
                                                {% for admin in admins %}
                                                <option value="{{admin.id}}" {% if boite5.user %} {% if boite5.user.id==admin.id %} selected {% endif %}{% endif %}>{{admin.username}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="width:25%">
                                            <a class="btn btn-info affecter-admin" data-boiteId="{{boite5.id}}" data-typeB="admin-boite5">Affecter</a>
                                        </td>
                                        <td style="width:25%">
                                            {% if boite5.boiteCheck == 0%}
                                            <a class="btn btn-success activted-boite btn-act-{{boite5.id}}" data-boiteId="{{boite5.id}}" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite5.id}}" style="display:none" data-boiteId="{{boite5.id}}" data-activted="0">Désactiver</a> {% else %}
                                            <a class="btn btn-success activted-boite btn-act-{{boite5.id}}" data-boiteId="{{boite5.id}}" style="display:none" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite5.id}}" data-boiteId="{{boite5.id}}" data-activted="0">Désactiver</a> {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="boite6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Boite D'annonce 6</h4>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Statut</th>
                                    <th>Affecter</th>
                                    <th></th>
                                    <th>Activer/Desactiver</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:20%">
                                            {% if boite6.boiteCheck == 0%}
                                            <h5 class="text-warning btn-act-{{boite6.id}}">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite6.id}}" style="display:none;">Actif</h5> {% else %}
                                            <h5 class="text-warning btn-act-{{boite6.id}}" style="display:none;">Pas active<h5>
                                                    <h5 class="text-success btn-dact-{{boite6.id}}">Actif</h5> {% endif %}
                                        </td>
                                        <td style="width:30%">
                                            <select name="admin-boite6" class="form-control text-center">
                                                <option value="0">----------Affecter boite a admin------</option>
                                                {% for admin in admins %}
                                                <option value="{{admin.id}}" {% if boite6.user %} {% if boite6.user.id==admin.id %} selected {% endif %}{% endif %}>{{admin.username}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="width:25%">
                                            <a class="btn btn-info affecter-admin" data-boiteId="{{boite6.id}}" data-typeB="admin-boite6">Affecter</a>
                                        </td>
                                        <td style="width:25%">
                                            {% if boite6.boiteCheck == 0%}
                                            <a class="btn btn-success activted-boite btn-act-{{boite6.id}}" data-boiteId="{{boite6.id}}" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite6.id}}" style="display:none" data-boiteId="{{boite6.id}}" data-activted="0">Désactiver</a> {% else %}
                                            <a class="btn btn-success activted-boite btn-act-{{boite6.id}}" data-boiteId="{{boite6.id}}" style="display:none" data-activted="1">Activer</a>
                                            <a class="btn btn-danger activted-boite btn-dact-{{boite6.id}}" data-boiteId="{{boite6.id}}" data-activted="0">Désactiver</a> {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}