.clickable-row {
   cursor: pointer;
}

#appbundle_category_criterias input[type=checkbox], input[type=radio]{
    float: left!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
}

#appbundle_category_criterias label{
        display: block!important;
}

