{% extends 'layoutFront.html.twig' %}
{% block content %}
         <section class="content-center">

                    <h1 class="grey small no-border">Tous les bouiques </h1>
                    <!--
-->
                    <div class="apn-lt">
                        <div id="lt-l" class="teal-apn"></div>
                        <div id="lt-xl" class="teal-apn"></div>
                    </div>

                    <div class="apn-b">
                        <div id="b1-s" class="teal-apn"></div>
                        <div id="b1-m" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b2-m" class="teal-apn"></div>
                        <div id="b1-l" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b2-l" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b3-l" class="teal-apn"></div>
                        <div id="b1-xl" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b2-xl" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b3-xl" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b4-xl" class="teal-apn"></div>
                        <div class="clear"></div>
                    </div>

                    <div class="apn-mb">
                        <div id="mb-s" class="teal-apn"></div>
                        <div id="mb-m" class="teal-apn"></div>
                        <div id="mb-l" class="teal-apn"></div>
                        <div id="mb-xl" class="teal-apn"></div>
                    </div>

                    <!-- Main container for listing and ALU -->
                    <section id="listingAds" class="grid-3-1">
                        <!-- Listing -->
                        <section class="list mainList tabs">

                            <div class="apn-lt" id="lt_1">
                                <div id="lt-s" class="teal-apn"></div>
                                <div id="lt-m" class="teal-apn"></div>
                            </div>

                            <!-- Listing filters -->

                            <header class="tabsHeader clearfix">
                                <nav class="fl">
                                    <a href="" class="tabsSwitch trackable active" >Toutes<span class="tabsSwitchNumbers small-hidden tiny-hidden"> 234 667</span></a>

                                    <a href="#" title="Afficher uniquement les annonces de Particuliers" class="tabsSwitch trackable">Part<span class="custom-medium-hidden">iculiers</span><span class="tabsSwitchNumbers small-hidden tiny-hidden"> 231 256</span></a>

                                    <a href="demandes/index052e.html?f=c" title="Afficher uniquement les annonces de Professionnels" class="tabsSwitch trackable" data-info='{"event_name" : "ad_search::onglet::professionnels", "event_type" : "click", "event_s2" : "8", "click_type" : "N"}'>Pro<span class="custom-medium-hidden">fessionnels</span><span class="tabsSwitchNumbers small-hidden tiny-hidden"> 3 411</span></a>

                                </nav>
                                <article class="list_properties">

                                    <div class="selectWrapper blue">
                                        <select id="listSorting" class="select" onchange="listSortingChange(this); xt_click(this,'C','8','ad_search::'+this.options[this.selectedIndex].getAttribute('data-value'),'N');">
                                            <option data-value="trier_par_date" selected>Trier par : Date</option>
                                            <option data-value="trier_par_prix">Trier par : Prix</option>
                                        </select>
                                    </div>

                                </article>
                            </header>

                            <!-- Listing list -->
                            <section class="tabsContent block-white dontSwitch">
                                <ul>

                                

                                    {% if showrooms is empty %}
                                         <h1> Aucune Boutique Trouvé </h1>
                                    {% else %}

                                        {% for showroom in showrooms %}

                                    <li >
                                        <a href="{{ path('showroomads_index',{'slug':showroom.slug}) }}" class="list_item clearfix trackable" >
                                            <!-- Listing item image -->

                                            <div class="item_image">
                                                <span class="item_imagePic" style="background:url('../../static.leboncoin.fr/img/no-picture.png') center no-repeat;">
                                               </span>

                                            </div>

                                            <!-- Save ad (Mes annonces) -->

                                            <!-- Listing item info -->
                                            <section class="item_infos">
                                                <h2 class="item_title" itemprop="name"> {{ showroom.namevetrine }}</h2>

                                                <p class="item_supp" itemprop="category" content="Mat&eacute;riel Agricole">

                                                    {{ showroom.namevetrine }}

                                                </p>

                                                <p class="item_supp" itemprop="availableAtOrFrom" itemscope itemtype="http://schema.org/Place">

                                                    

                                                    <meta itemprop="address" content="Jumièges" /> {{ showroom.namevetrine }}
                                                    <meta itemprop="address" content="Seine-Maritime" />

                                                </p>
                                                <meta itemprop="priceCurrency" content="EUR" />

                                                <aside class="item_absolute">
                                                    <p class="item_supp" itemprop="availabilityStarts" content="2018-02-25">

                                                       .....
                                                    </p>
                                                </aside>
                                            </section>
                                        </a>
                                    </li>

                                    {% endfor %}
                                        
                                    {% endif %}

                                </ul>
                            </section>

                            <footer class="pagination clearfix">

                                <!--Pagination links-->
                                <div class="pagination_links clearfix small-hidden tiny-hidden">
                                    <div class="pagination_links_container">

                                        <!-- First page -->
                                        <span class="element page static link-like disabled" id="begin"><i class="icon-chevron-double-left nomargin"></i></span>

                                        <!-- Previous page -->
                                        <span class="element page static link-like disabled" id="previous"><i class="icon-chevron-left nomargin"></i></span>

                                        <!-- Loop for generate pages -->

                                        <span class="element page selected">1</span>

                                        <a class="element page" href="demandes/indexe0d1.html?o=2">2</a>

                                        <a class="element page" href="demandes/indexe759.html?o=3">3</a>

                                        <a class="element page" href="demandes/indexf4e0.html?o=4">4</a>

                                        <a class="element page" href="demandes/index609f.html?o=5">5</a>

                                        <a class="element page" href="demandes/index285a.html?o=6">6</a>

                                        <a class="element page" href="demandes/index3f9a.html?o=7">7</a>

                                        <a class="element page" href="demandes/index3513.html?o=8">8</a>

                                        <a class="element page" href="demandes/indexf7bb.html?o=9">9</a>

                                        <a class="element page" href="demandes/index2090.html?o=10">10</a>

                                        <a class="element page" href="demandes/indexe676.html?o=11">11</a>

                                        <a class="element page" href="demandes/index1e19.html?o=12">12</a>

                                        <a class="element page" href="demandes/index9830.html?o=13">13</a>

                                        <a class="element page" href="demandes/index5adf.html?o=14">14</a>

                                        <a class="element page" href="demandes/index0572.html?o=15">15</a>

                                        <a class="element page" href="demandes/indexfe45.html?o=16">16</a>

                                        <a class="element page" href="demandes/indexa4c1.html?o=17">17</a>

                                        <a class="element page" href="demandes/index8e9f.html?o=18">18</a>

                                        <a class="element page" href="demandes/indexbbbd.html?o=19">19</a>

                                        <a class="element page" href="demandes/index40db.html?o=20">20</a>

                                        <!-- Next page -->

                                        <a href="demandes/indexe0d1.html?o=2" class="element page static" id="next"><i class="icon-chevron-right nomargin"></i></a>

                                        <!-- Last page -->

                                        <a href="demandes/indexd1d3.html?o=6705" class="element page static" id="last"><i class="icon-chevron-double-right nomargin"></i></a>

                                    </div>
                                </div>

                                <!--Pagination Form-->
                                <nav class="pagination_content clearfix large-hidden medium-hidden">
                                    <!-- First page -->
                                    <span class="element page static link-like disabled" id="begin"><i class="icon-chevron-double-left nomargin"></i></span>

                                    <!-- Previous page -->
                                    <span class="element page static link-like disabled" id="previous"><i class="icon-chevron-left nomargin"></i></span>

                                    <div class="pagination_selectPage">
                                        <form action="#" method="" id="changePage">
                                            <div class="field-wrapper">
                                                <input type="number" id="selectPage" name="selectPage" value="1" class="input" />
                                            </div>
                                            / <span class="total_page">6705</span>
                                        </form>
                                    </div>

                                    <!-- Next page -->

                                    <a href="demandes/indexe0d1.html?o=2" class="element page static link-like" id="next"><i class="icon-chevron-right nomargin"></i></a>

                                    <!-- Last page -->

                                    <a href="demandes/indexd1d3.html?o=6705" class="element page static link-like" id="last"><i class="icon-chevron-double-right nomargin"></i></a>

                                    <span class="label-error full" data-for="selectPage"></span>
                                </nav>

                            </footer>

                        </section>

                      <!-- ALU -->
                      {% include 'PartialsFront/side-ads.html.twig' %}

                    </section>

                </section>
{% endblock %}
        