{% extends 'layoutFront.html.twig' %}
{% block block_no_filter %}
         <section style="overflow: hidden;" class="content-center main-login main-center">

                        {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nom</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									        {{form_widget(form.lastName)}}   
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Prénom</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									{{form_widget(form.firstName)}} 
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									{{form_widget(form.email)}} 
								</div>
							</div>
						</div>

						 

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Mot de pass</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									{{form_widget(form.plainPassword.first)}} 
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirmé Mot de pass</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									{{form_widget(form.plainPassword.second)}} 
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
						</div>
						<div class="login-register">
				            <a href="{{ path('fos_user_security_login') }}">Login</a>
				         </div>

                         
                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}


                
          </section>
{% endblock %}
        