{% extends 'layoutAdmin.html.twig'%}

{% block content %}

<div class="content">
                <div class="container-fluid">
                 
                    <div class="row">
                       {% include 'FlashMessages/FlashMessages.html.twig'%}
                          {{ form_errors(ads_per_page_form) }}
                          {{ form_errors(showcases_per_page_form) }}
                          {{ form_errors(premium_ads_per_page_form) }}
                          {{ form_errors(top_per_page_form) }}
                          {{ form_errors(currency_form) }}
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Paramètres généraux 
                                       
                                    </h4>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="nav nav-pills nav-pills-rose nav-stacked">
                                                <li class="active">
                                                    <a href="#tab1" data-toggle="tab">Annonce par page</a>
                                                </li>
                                                <li>
                                                    <a href="#tab2" data-toggle="tab">Vitrines par page</a>
                                                </li>
                                                <li>
                                                    <a href="#tab3" data-toggle="tab">Annonces premium par page</a>
                                                </li>
                                                <li>
                                                    <a href="#tab4" data-toggle="tab">Toujours en tête</a>
                                                </li>
                                                <li>
                                                    <a href="#tab5" data-toggle="tab">Devise</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab1">
                                                    {{form_start(ads_per_page_form,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_general_parameter', {'id':number_of_ads_per_page.id})}) }}
                                                        {{form_widget(ads_per_page_form)}}
                                                         <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                                                    {{ form_end(ads_per_page_form)}}
                                                </div>
                                                <div class="tab-pane" id="tab2">
                                                   {{form_start(showcases_per_page_form,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_general_parameter', {'id':number_of_showcases_per_page.id})}) }}
                                                        {{form_widget(showcases_per_page_form)}}
                                                         <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                                                    {{ form_end(showcases_per_page_form)}}
                                                </div>
                                                <div class="tab-pane" id="tab3">
                                                   {{form_start(premium_ads_per_page_form,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_general_parameter', {'id':number_of_premium_ads_per_page.id})}) }}
                                                        {{form_widget(premium_ads_per_page_form)}}
                                                         <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                                                    {{ form_end(premium_ads_per_page_form)}}
                                                </div>
                                                <div class="tab-pane" id="tab4">
                                                   {{form_start(top_per_page_form,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_general_parameter', {'id':always_on_top_per_page.id})}) }}
                                                        {{form_widget(top_per_page_form)}}
                                                         <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                                                    {{ form_end(top_per_page_form)}}
                                                </div>
                                                <div class="tab-pane" id="tab5">
                                                   {{form_start(currency_form,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_general_parameter', {'id':currency.id})}) }}
                                                        {{form_widget(currency_form)}}
                                                         <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                                                    {{ form_end(currency_form)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                </div>
</div>

{% endblock %}
                       