{% extends 'layoutAdmin.html.twig' %}

{% block title %}77Maroc-Login{% endblock %}
{% block body_class %}off-canvas-sidebar{% endblock %}
{% block body %}
	  <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('dashboard_index')}}"><strong class="text-danger">77</strong>MAROC</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="#">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper wrapper-full-page">
       
        <div class="full-page login-page" filter-color="black" data-image="{{ asset('plugins/img/login.jpeg')}}">
            <div class="content">
                <div class="container">
                     <div class="row">
                         {% for messageInfo in app.session.flashbag.get('info')%}
                                     <div class="alert alert-info text-center">
                                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                      <i class="ti-check-box"></i>&nbsp;{{messageInfo}}
                                    </div>
                        {% endfor %} 
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                           <form action="{{ path("account_login_check") }}" method="post" role="form">
                         <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <div class="card card-login card-hidden">
                                    <div class="card-header text-center" data-background-color="blue">
                                        <h4 class="card-title">Login user Normal</h4>
                                    </div>
                                    <div class="card-content">
                                         {% if error %}
                                            <div class="row text-center">
                                                <p class="text-danger">
                                                  Les informations d'identification invalides.
                                                </p>
                                             </div>
                                                   
                                        {% endif %}
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Username</label>
                                                <input type="text" id="username"  name="_username" value="{{ last_username }}" required="required" class="form-control" autofocus />
                                            </div>
                                         </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Password</label>
                                               <div class="form-group">
                                                <input type="password"  id="password" name="_password" required="required" class="form-control" />
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                         <button type="submit" id="_submit" name="_submit" type="button" class="btn btn-rose btn-simple btn-wd btn-lg">Connexion</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
    </div>

  
    
{% endblock %}
