{% extends 'layoutAdmin.html.twig'%} 
{% block title %}77Maroc-Message{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="row">
        <div class="toolbar pull-right">
            <a class="btn btn-primary" href="{% if app.request.get('_route') =='edit_message_supprissions' %}{{ path('list_message_supprissions')}}{% else %}{{ path('list_message_refuser')}}{% endif %}">
        <span class="btn-label">
            <i class="material-icons">keyboard_arrow_left</i>
        </span>Retourner 
             </a>
        </div>
    </div>
    <div class="row">
        {% include 'FlashMessages/FlashMessages.html.twig'%}
    </div>
    <div class="row">
        {{ form_errors(form) }}
    </div>
    <div class="card">
        {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}
        <div class="card-header card-header-text" data-background-color="blue">
            <h4 class="card-title">{% if app.request.get('_route') =='edit_message_supprissions' %}Modifier Message de supprissions annonce{% else %}Modifier Message de refuser annonce{% endif %}</h4>
        </div>
        
                                          
        <div class="card-content">
            <div class="row">
               
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        {{form_widget(form.title)}}        
                    </div>
                </div>
            </div>
             <div class="row">
               
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        {{form_widget(form.template)}}        
                    </div>
                </div>
            </div>
         
        </div>
        <div class="card-footer text-center">
                <button type="submit" class="btn btn-success btn-fill">
                    <span class="btn-label">
                         <i class="material-icons">check</i>
                    </span>Modifier
                </button>
         </div>
        {{form_end(form)}}
    </div>
</div>
{% endblock %}
{% block specifics_javascripts %}
    <script src="{{asset('plugins/ckeditor/ckeditor.js')}}"></script>
{% endblock %}
 
