{% extends 'layoutAdmin.html.twig'%}
{% block title %}77Maroc-List{% endblock %}
 {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="toolbar pull-right">
                <a class="btn btn-primary" href="{{ path('index_message_template')}}">
            <span class="btn-label">
                <i class="material-icons">keyboard_arrow_left</i>
            </span>Retourner 
                 </a>
            </div>
        </div>
        <div class="row">
            <div class="toolbar pull-right">
                <a class="btn" href="{% if app.request.get('_route') =='list_message_supprissions' %}{{ path('add_message_supprissions')}}{% else %}{{ path('add_message_refuser')}}{% endif %}"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nouveau</a>
          </div>
        </div>
        <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
        </div>
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">{%if app.request.get('_route') =='list_message_supprissions' %}Liste template de supprissions Annonces{% else %} Liste template de refuser Annonces{% endif %}</h4>
                <div class="material-datatables">
                    <table id="table-message-templates" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">Title</th>
                               
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center">
                                <th class="text-center">Title</th>
                
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for template in templates %}
                             <tr class="text-center" id="{{template.id}}" >
                                <td>{{template.title}}</td>
                                <td class="text-center">
                                    <a href="{% if app.request.get('_route') =='list_message_supprissions' %}{{ path('edit_message_supprissions',{'id':template.id})}}{% else %}{{ path('edit_message_refuser',{'id':template.id})}}{% endif %}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">mode_edit</i></a>
                                    <a href="#" class="btn btn-simple btn-danger btn-icon remove" data-toggle="modal" data-target="#modal-{{template.id}}"><i class="material-icons">close</i></a>
                                </td>
                              </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
           </div>
    </div>
   
</div>
{% for template in templates %}
    {% include 'Modals/delete_message_template.html.twig' with { 'idTemplate': template.id} %}
{% endfor %}

{% endblock %}