{% extends 'layoutAdmin.html.twig'%}
{% block content %}

   	<div class="row" style="margin-top:4%;">
   		<h3 class="text-primary">Configuration des templates messages</h3>
   	</div>
   	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="material-icons">border_top</i>
                </div>
                <div class="card-content">
                    <p class="category">Messge Annonce validée</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{path('message_validation')}}">Go configuration</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">border_top</i>
                </div>
                <div class="card-content">
                    <p class="category">Message paiement d’une option payante</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{path('message_paiment')}}">Go configuration</a>
                    </div>
                </div>
            </div>
        </div>
    	
    </div>
    <div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">border_top</i>
                </div>
                <div class="card-content">
                    <p class="category">Messages Annonce supprimée</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{path('list_message_supprissions')}}">Go configuration </a>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">border_top</i>
                </div>
                <div class="card-content">
                    <p class="category">Messages Annonce refusée</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                   <a href="{{path('list_message_refuser')}}">Go configuration </a>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>


   {% endblock %}

