{% extends 'layoutAdmin.html.twig'%}

{% block content %}
   <div class="row">
                        <div class="col-md-12">
                            
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="purple">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Liste Message</h4>
                                  
                                    <div class="material-datatables">
                                        <table id="table-city" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                     <th class="text-center">ID</th>
                                                     <th class="text-center">Sujet</th>
                                                     <th class="disabled-sorting text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr class="text-center">
                                                    <th class="text-center">ID</th>
                                                     <th class="text-center">Sujet</th>
                                                    <th class="disabled-sorting text-center">Actions</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for inb in inbox %}
                                                    <tr class="text-center" id="{{inb.id}}">
                                                      <td class="clickable-row">{{ inb.id }}</td>
                                                     <td class="clickable-row">{{ inb.subject }}</td>
                                                       
                                                     </td>
                                                      <td class="text-center">
                                                        <a href="{{ path('city_edit', {'id':inb.id}) }}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">dvr</i></a>
                                                        <a href="#" class="btn btn-simple btn-danger btn-icon remove" data-toggle="modal" data-target="#modal-{{inb.id}}"><i class="material-icons">close</i></a>
                                                    </td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
 
{% endblock %}



