{% extends 'layoutAdmin.html.twig'%} 
{% block title %}77Maroc-Add{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="row">
        <div class="toolbar pull-right">
            <a class="btn btn-primary" href="{{ path('users_noraml_list')}}">
		<span class="btn-label">
            <i class="material-icons">keyboard_arrow_left</i>
        </span>Retourner à la liste
             </a>
        </div>
    </div>
    <div class="row">
    	{{ form_errors(formCreateUser) }}
    </div>
    <div class="card">
        {{form_start(formCreateUser,{'attr':{'class':'form-horizontal'}}) }}
        <div class="card-header card-header-text" data-background-color="blue">
            <h4 class="card-title">Nouveau utilisateur Normale</h4>
        </div>
        
                                          
        <div class="card-content">
            <div class="row">
               
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        {{form_widget(formCreateUser.lastName)}}        
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                         {{form_widget(formCreateUser.firstName)}}       
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                         {{form_widget(formCreateUser.phone)}}       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                         {{form_widget(formCreateUser.email)}}       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                       {{form_widget(formCreateUser.plainPassword.first)}}
                    </div>
                </div>
            </div>
               <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                       {{form_widget(formCreateUser.plainPassword.second)}}
                    </div>
                </div>
               </div>
         
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                       {{form_widget(formCreateUser.solde)}}
                    </div>
                </div>
            </div>
               <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <div class="checkbox">
                         <label>
                            Activer
                            {{form_widget(formCreateUser.enabled)}}
                          </label>
                        </div>
                    </div>
                </div>
              </div>
           
             
         
        </div>
        <div class="card-footer text-center">
                <button type="submit" class="btn btn-success btn-fill">
                	<span class="btn-label">
                         <i class="material-icons">check</i>
                    </span>Ajouter
                </button>
         </div>
        {{form_end(formCreateUser)}}
    </div>
</div>
{% endblock %}