{% extends 'layoutFront.html.twig' %} 

{% block block_no_filter %}
<div class="">


		<div class="row pricing-model">
	
				{# <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
				
					<!-- PRICE ITEM -->
					<div class="panel price panel-grey">
						<div class="panel-heading arrow_box text-center">
						<h3>FREE PLAN</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>100 DH</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
						<li class="list-group-item"><i class="icon-ok text-success"></i> Personal use Personal usePersonal use Personal use Personal usePersonal usePersonal use Personal usePersonal use</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-primary" href="#">Choisir</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->
					
					
				</div> #}

				{% for pack in packs %}
                       

                       <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pricing-item">
				
					<!-- PRICE ITEM -->
					<div class="panel price panel-white">
						<div class="panel-heading arrow_box text-center">
						<h3>{{ pack.title }}</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>{{ pack.price }} DH</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i>{{ pack.description }}</li>
							
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-default" href="{{ path('buypack_index',{'id':pack.id,'ad':ad.id})}}">Choisir</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->
					
					
				</div>

				{% endfor %}
				
				

				
				
	</div>

				

{% endblock %}