{% extends 'layoutFront.html.twig' %} 

    {% block block_no_filter %}

<section class="content-center buypack">



  {% if pack.type == "RENEWAL" %}
  <h3 style="display: inline-block;">Renouveler : Remonter votre annonce en tête de liste</h3>
  {% endif %}
    {% if pack.type == "ALWAYS_IN_LEAD" %}
  <h3 style="display: inline-block;">votre annonce tous jours en tête</h3>
  {% endif %} 
  <h3 style="display: inline-block;float: right;color: #61304b;text-decoration: underline;margin: 0;">Total : {{ pack.price }} DH</h3> 





                     <li style="margin-bottom: 50px;">
                        <a href="{{ path('detail_ad',{'slug':ad.slug})}}" class="list_item clearfix trackable">
                            <div class="item_image">
                                
                                {% set  imageFirst= ad.images|first %}
                             {#    {% if imageFirst is not null %}
                                <span class="item_imagePic" style="background:url('{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}') center no-repeat;">
                                           </span>
                                {% endif %} #}
                            </div>
                            <section class="item_infos">
                                <h2 class="item_title" itemprop="name" style=" font-weight: bold;">{{ ad.title }}</h2>
                                <p class="item_supp" itemprop="category" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" content="{{ ad.villename }} - {{ ad.secteurname}}">
                                    {{ ad.villename }} - {{ ad.secteurname}}
                                        
                                </p>
                                <p class="item_supp" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" itemprop="availableAtOrFrom" itemscope itemtype="http://schema.org/Place"><i style="color:blue !important;" class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
                                  {{ad.createdAt|date('Y-m-d')}}
                                  
                                </p>
                              
                                <aside class="item_absolute">
                                    <p class="item_supp" itemprop="availabilityStarts" content="{{ad.createdAt|date('Y-m-d H:i:s')}}">
                                        <span style=" font-weight: bold;">{{ad.price}} DH</span>
                                    </p>
                                </aside>
                            </section>
                        </a>
                    </li>    

<div class="col-xs-6">
        
        
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" style="width: 100%;">
                    <div class="row display-tr" >
                        <h3 class="panel-title display-td" >Recharge de Compte</h3>
                        <div class="display-td" >                            
                            <img class="img-responsive pull-right" src="{{ asset('plugins/front/img/pay.png')}}">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body" style="background-color: #aeaeae33;">
                                      <fieldset>
      
            <div class="control-group">
                <label label-default="" class="control-label">Nom sur la carte</label>
                <div class="controls">
                    <input class="form-control" disabled pattern="\w+ \w+.*" title="First and last name" required="" type="text">
                </div>
            </div>
            <div class="control-group">
                <label label-default="" class="control-label">Numéro de carte</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits" required="" type="text">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits" required="" type="text">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits" required="" type="text">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits" required="" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label label-default="" class="control-label">Expiration</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-9">
                            <select class="form-control" disabled name="cc_exp_mo">
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" disabled name="cc_exp_yr">
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label label-default="" class="control-label">CVV</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control" disabled autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required="" type="text">
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
            </div>
            <div class="control-group">
              <label label-default="" class="control-label"></label>
              <div class="controls">
                <button type="submit" class="btn btn-primary" disabled>Payer</button> 
                <button type="button" class="btn btn-default" disabled>Annuler</button>
              </div>
            </div>
        </fieldset>
                </div>
            </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->
            
            
        </div> 


        <div class="col-xs-6" style="font-weight: bold;">

             Autre moyenne de payement

        </div>


     </section>

  {% endblock %}
 