{% extends 'layoutAdmin.html.twig'%} 
{% block content %}
     <div class="row">
        <div class="toolbar pull-right">
            <a class="btn btn-primary" href="{{ path('index_publicity')}}">
        <span class="btn-label">
            <i class="material-icons">keyboard_arrow_left</i>
        </span>Retourner
             </a>
        </div>
    </div>
      <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
     </div>
<div class="col-md-12">
    <div class="card">
         <div class="row">
            {{ form_errors(formPublicityPAUT) }}
            {{ form_errors(formPublicityPABA) }}
            {{ form_errors(formPublicityPAUC) }}
        </div>
        <div class="card-header">
            <h4 class="card-title">Publicity Page d'annonce</h4>
        </div>
        <div class="card-content">

            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-pills-icons nav-pills-warning nav-stacked" role="tablist">
                       
                        <li class="active">
                            <a href="#formPublicityPAUT" role="tab" data-toggle="tab">
                                <i class="material-icons">border_top</i>Au dessus de box de recherche
                            </a>
                        </li>
                        <li>
                            <a href="#formPublicityPABA" role="tab" data-toggle="tab">
                                <i class="material-icons">border_top</i> Au dessous de box de recherche
                            </a>
                        </li>
                         <li>
                            <a href="#formPublicityPAUC" role="tab" data-toggle="tab">
                                <i class="material-icons">border_top</i>Entre les annonces
                            </a>
                        </li>
                    
                    </ul>
                </div>
                <div class="col-md-8">

                                                                              
                    <div class="tab-content">
                        <div class="tab-pane active" id="formPublicityPAUT">
                               {{form_start(formPublicityPAUT,{ 'attr' :{'class':'form-horizontal checkPub'},'action':path('publicity_valider',{'id': publicityPAUT.id })}) }}
                                    {{form_widget(formPublicityPAUT)}}
                                    {% if publicityPAUT.image != null %} <img  class="img-pub-show"  src="{{ vich_uploader_asset(publicityPAUT, 'imageFile') }}"  style="height:100px !important;width:100% !important; " />
                                    {% endif %}
                                     <button type="submit" class="btn btn-fill btn-block btn-primary">Valider</button>
                                {{ form_end(formPublicityPAUT)}}
                        </div>
                         <div class="tab-pane" id="formPublicityPABA">
                              {{form_start(formPublicityPABA,{ 'attr' :{'class':'form-horizontal checkPub'},'action':path('publicity_valider',{'id': publicityPABA.id })}) }}
                                    {{form_widget(formPublicityPABA)}}
                                    {% if publicityPABA.image != null %} <img class="img-pub-show" src="{{ vich_uploader_asset(publicityPABA, 'imageFile') }}"  style="height:100px !important;width:100% !important; " />
                                    {% endif %}
                                     <button type="submit" class="btn btn-fill btn-block btn-primary">Valider</button>
                                {{ form_end(formPublicityPABA)}}
                            
                        </div>
                          <div class="tab-pane" id="formPublicityPAUC">
                              {{form_start(formPublicityPAUC,{ 'attr' :{'class':'form-horizontal checkPub'},'action':path('publicity_valider',{'id': publicityPAUC.id })}) }}
                                    {{form_widget(formPublicityPAUC)}}
                                    {% if publicityPAUC.image != null %} <img class="img-pub-show" src="{{ vich_uploader_asset(publicityPAUC, 'imageFile') }}"  style="height:100px !important;width:100% !important; " />
                                    {% endif %}
                                     <button type="submit" class="btn btn-fill btn-block btn-primary">Valider</button>
                                {{ form_end(formPublicityPAUC)}}
                            
                        </div>
                   
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specifics_javascripts %}
    <script>
   
        $(document).ready(function(){
           $('form.checkPub').each(function(){
                if($(this).find('select.type-pub').val() == "PUB SCRIPT"){
                    $(this).find('.url-pub').hide();
                    $(this).find('.img-pub').hide();
                    $(this).find('.img-pub-show').hide();
                    $(this).find('.script-pub').show();
            }else{
                    $(this).find('.url-pub').show();
                    $(this).find('.img-pub').show();
                    $(this).find('.img-pub-show').show();
                    $(this).find('.script-pub').hide();
            }

           });

         $('.type-pub').on('change',function(){
            var parentForm =$(this).closest('form');
             if($(this).val() == "PUB SCRIPT"){
                    parentForm.find('.url-pub').hide();
                    parentForm.find('.img-pub').hide();
                    parentForm.find('.img-pub-show').hide();
                    parentForm.find('.script-pub').show();
            }else{
                    parentForm.find('.url-pub').show();
                    parentForm.find('.img-pub').show();
                    parentForm.find('.img-pub-show').show();
                    parentForm.find('.script-pub').hide();
            }

         });
        
        });
    </script>
{% endblock %}