{% extends 'layoutAdmin.html.twig' %}

{% block title %}77Maroc-Login{% endblock %}
{% block body_class %}off-canvas-sidebar{% endblock %}
{% block body %}
     <nav class="row navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{path('dashboard_index')}}"><strong class="text-danger">77</strong>MAROC</a>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black" data-image="{{ asset('plugins/img/login.jpeg')}}">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                           <form action="{{ path("dashboard_login_check") }}" method="post" role="form">
                         <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <div class="card card-login card-hidden">
                                    <div class="card-header text-center" data-background-color="blue">
                                        <h4 class="card-title">Login Admin</h4>
                                          {% if error %}
                                                <p class="text-center text-lead text-danger">
                                                  Les informations d'identification invalides.
                                                </p>
                                           {% endif %}
                                       
                                    </div>
                                    <div class="card-content">
                                         
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Username</label>
                                                <input type="text" id="username"  name="_username" value="{{ last_username }}" required="required" class="form-control" autofocus />
                                            </div>
                                         </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Password</label>
                                               <div class="form-group">
                                                <input type="password"  id="password" name="_password" required="required" class="form-control" />
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                         <button type="submit" id="_submit" name="_submit" type="button" class="btn btn-rose btn-simple btn-wd btn-lg">Connexion</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
    </div>

  
    
{% endblock %}
