    
    /* COMMON PRICING STYLES */

    .buypack{
        overflow: hidden;
        margin-top: 40px;
    }

     .pricing-model{
         padding-top: 100px;
         padding-bottom: 130px;
         margin: auto;
         width: 80%;

     }

     .pricing-item{
        

     }

    .pricing-item .list-group-item{
        min-height: 110px;
    }

        .panel.price,
        .panel.price>.panel-heading{
            border-radius:0px;
             -moz-transition: all .3s ease;
            -o-transition:  all .3s ease;
            -webkit-transition:  all .3s ease;
        }
        .panel.price:hover{
            box-shadow: 0px 0px 30px rgba(0,0,0, .2);
        }
        .panel.price:hover>.panel-heading{
            box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
        }
        
                
        .panel.price>.panel-heading{
            box-shadow: 0px 5px 0px rgba(97,48,75, .6) inset;
            text-shadow:0px 3px 0px rgba(50,50,50, .6);
        }
            
        .price .list-group-item{
            border-bottom-:1px solid rgba(250,250,250, .5);
        }
        
        .panel.price .list-group-item:last-child {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .panel.price .list-group-item:first-child {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }
        
        .price .panel-footer {
            color: #fff;
            border-bottom:0px;
            background-color:  rgba(0,0,0, .1);
            box-shadow: 0px 3px 0px rgba(0,0,0, .3);
        }
        
        
        .panel.price .btn{
            box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
            border:0px;
        }
        
    /* green panel */
    
        
        .price.panel-green>.panel-heading {
            color: #fff;
            background-color: #57AC57;
            border-color: #71DF71;
            border-bottom: 1px solid #71DF71;
        }
        
            
        .price.panel-green>.panel-body {
            color: #fff;
            background-color: #65C965;
        }
                
        
        .price.panel-green>.panel-body .lead{
                text-shadow: 0px 3px 0px rgba(50,50,50, .3);
        }
        
        .price.panel-green .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }
        
        /* blue panel */
    
        
        .price.panel-blue>.panel-heading {
            color: #fff;
            background-color: #608BB4;
            border-color: #78AEE1;
            border-bottom: 1px solid #78AEE1;
        }
        
            
        .price.panel-blue>.panel-body {
            color: #fff;
            background-color: #73A3D4;
        }
                
        
        .price.panel-blue>.panel-body .lead{
                text-shadow: 0px 3px 0px rgba(50,50,50, .3);
        }
        
        .price.panel-blue .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }
        
        /* red price */
        
    
        .price.panel-red>.panel-heading {
            color: #fff;
            background-color: #D04E50;
            border-color: #FF6062;
            border-bottom: 1px solid #FF6062;
        }
        
            
        .price.panel-red>.panel-body {
            color: #fff;
            background-color: #EF5A5C;
        }
        
        
        
        
        .price.panel-red>.panel-body .lead{
                text-shadow: 0px 3px 0px rgba(50,50,50, .3);
        }
        
        .price.panel-red .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }
        
        /* grey price */
        
    
        .price.panel-grey>.panel-heading {
            color: #fff;
            background-color: #6D6D6D;
            border-color: #B7B7B7;
            border-bottom: 1px solid #B7B7B7;
        }
        
            
        .price.panel-grey>.panel-body {
            color: #fff;
            background-color: #808080;
        }
        

        
        .price.panel-grey>.panel-body .lead{
                text-shadow: 0px 3px 0px rgba(50,50,50, .3);
        }
        
        .price.panel-grey .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }
        
        /* white price */
        
    
        .price.panel-white>.panel-heading {
            color: #333;
            background-color: #f9f9f9;
            border-color: #ccc;
            border-bottom: 1px solid #ccc;
            text-shadow: 0px 2px 0px rgba(250,250,250, .7);
        }
        
        .panel.panel-white.price:hover>.panel-heading{
            box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
        }
            
        .price.panel-white>.panel-body {
            color: #fff;
            background-color: #dfdfdf;
        }
                
        .price.panel-white>.panel-body .lead{
                text-shadow: 0px 2px 0px rgba(250,250,250, .8);
                color:#666;
        }
        
        .price:hover.panel-white>.panel-body .lead{
                text-shadow: 0px 2px 0px rgba(250,250,250, .9);
                color:#333;
        }
        
        .price.panel-white .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }




    /*jssor slider loading skin spin css*/

    .jssorl-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes jssorl-009-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    /*jssor slider arrow skin 106 css*/

    .jssora106 {
        display: block;
        position: absolute;
        cursor: pointer;
    }

    .jssora106 .c {
        fill: #fff;
        opacity: .3;
    }

    .jssora106 .a {
        fill: none;
        stroke: #000;
        stroke-width: 350;
        stroke-miterlimit: 10;
    }

    .jssora106:hover .c {
        opacity: .5;
    }

    .jssora106:hover .a {
        opacity: .8;
    }

    .jssora106.jssora106dn .c {
        opacity: .2;
    }

    .jssora106.jssora106dn .a {
        opacity: 1;
    }

    .jssora106.jssora106ds {
        opacity: .3;
        pointer-events: none;
    }
    /*jssor slider thumbnail skin 101 css*/

    .jssort101 .p {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background: #000;
    }

    .jssort101 .p .cv {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #000;
        box-sizing: border-box;
        z-index: 1;
    }

    .jssort101 .a {
        fill: none;
        stroke: #fff;
        stroke-width: 400;
        stroke-miterlimit: 10;
        visibility: hidden;
    }

    .jssort101 .p:hover .cv,
    .jssort101 .p.pdn .cv {
        border: none;
        border-color: transparent;
    }

    .jssort101 .p:hover {
        padding: 2px;
    }

    .jssort101 .p:hover .cv {
        background-color: rgba(0, 0, 0, 6);
        opacity: .35;
    }

    .jssort101 .p:hover.pdn {
        padding: 0;
    }

    .jssort101 .p:hover.pdn .cv {
        border: 2px solid #fff;
        background: none;
        opacity: .35;
    }

    .jssort101 .pav .cv {
        border-color: #fff;
        opacity: .35;
    }

    .jssort101 .pav .a,
    .jssort101 .p:hover .a {
        visibility: visible;
    }

    .jssort101 .t {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        opacity: .6;
    }

    .jssort101 .pav .t,
    .jssort101 .p:hover .t {
        opacity: 1;
    }

    .style-div-sh {
        border: 1px solid #ccc;
        padding: 20px;
        background: white;
        -moz-box-shadow: 0px 2px 12px 4px #ddd -webkit-box-shadow: 0px 2px 12px 4px #ddd -o-box-shadow: 0px 2px 12px 4px #ddd box-shadow: 0px 2px 12px 4px #ddd
    }

    .footer-ul li a {
        text-decoration: none;
        color: white;
    }

    .footer-ul li {
        float: left;
        padding: 10px;
    }

    .footer-ul li a:hover,
    .footer-ul li a.active {
        color: #808080 !important;
        text-decoration: none;
    }

    .headerNav_main li a.active {
        color: #808080 !important;
    }

    @font-face {
        font-family: 'OpenSans';
        src: url('../fonts/opensans-regular-webfont.eot');
        src: url('../fonts/opensans-regular-webfont.woff') format("woff"),
        url('../fonts/opensans-regular-webfont.ttf') format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    .layout,
    .interstitial,
    .tutorialLayout {
        background: url(../../static.leboncoin.fr/img/loader-background.png) repeat;
    }

    .loaderGif {
        background: url(http://static.leboncoin.fr/img/loader.svg) no-repeat center center transparent;
    }

    .flag {
        background-image: url(../../static.leboncoin.fr/img/flag.png);
        background-repeat: no-repeat;
    }

    .logo-site {
        background: url('../img/logo.png') no-repeat center;
    }

    .headerNav .logo-site {
        background-size: auto 45%;
    }

    .ui-icon,
    input.edit {
        background-image: url(../../static.leboncoin.fr/img/jquery_datepicker.png);
    }

    .selectWrapper {
        background: #ffffff url(../../static.leboncoin.fr/img/arrow-select.png) no-repeat right;
    }

    .selectWrapper.blue {
        background: #ffffff url(../../static.leboncoin.fr/img/arrow-select-blue.png) no-repeat right;
    }

    #main.page404 .lostSection-top {
        background: url(http://static.leboncoin.fr/img/beta-404-background.svg) no-repeat right top;
    }

    #backgroundSnow {
        background-image: url(../../static.leboncoin.fr/img/neige2.png);
    }

    #backgroundSnowInner {
        background-image: url(../../static.leboncoin.fr/img/neige.png);
    }

    .ua_IE8 .logo-site {
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src= //static.leboncoin.fr/img/logo-mobile.png,sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=//static.leboncoin.fr/img/logo-mobile.png,sizingMethod='scale')";
    }
    /* fix z-index problem on ie with transparent background */

    .searchbox #searchboxToggleCategory {
        background: url(../../static.leboncoin.fr/img/trans-1px.gif);
    }

    @media (max-width: 971px) {
        .headerNav .logo-site {
            background: url('../img/logo.png') no-repeat center;
        }
    }

    @media (max-width: 768px) {
        #adreply .mobileLoader {
            background: url('http://static.leboncoin.fr/img/loader.svg') no-repeat rgba(0, 0, 0, .8) 50% 50%;
        }
    }

    #adview .item_image.empty {
        background: #f2f2f2 url('../../static.leboncoin.fr/img/no-picture-adview.png') no-repeat center;
    }

    #adview .boutiquePanel {
        background: url('../../static.leboncoin.fr/img/bg-boutique-adview.jpg') no-repeat;
    }

    .loaderGif-small {
        background: url('http://static.leboncoin.fr/img/beta_loader_small.svg') no-repeat center center transparent;
        background-size: 22px 22px;
    }

    #christmas2016 #banner {
        background-image: url('../../static.leboncoin.fr/img/top-bg.png')
    }

    span.help-inline {
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        display: block;
    }

    .form-control {
        border: 1px solid #e3e3e3;
        height: 44px;
        color: #000;
    }

    #heading {
        border-bottom: 1px solid #f2f2f2;
        color: #000;
        font-size: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .adpost-details label {
        font-size: 16px;
        font-weight: 500;
    }

    .adpost-details label.label-title {
        padding-top: 10px;
    }

    .adpost-details input[type="radio"]+label {
        cursor: pointer;
        margin-right: 20px;
        padding-left: 25px;
        vertical-align: sub !important;
        position: relative;
        color: #838383;
        margin-bottom: 0;
    }

    .adpost-details input[type="radio"] {
        display: none;
    }

    .adpost-details input[type="radio"]+label:before,
    .adpost-details input[type="radio"]+label:after {
        position: absolute;
        top: 5px;
        left: 0;
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: inline-block;
        background-color: transparent;
    }

    .adpost-details input[type="radio"]+label:before {
        border: 2px solid #00a651;
    }

    .adpost-details input[type="radio"]:checked+label:after {
        border: 5px solid #00a651;
    }

    .required {
        color: #ed1c24;
    }

    .adpost-details .form-control::-webkit-input-placeholder {
        color: #cfcfcf;
    }

    .adpost-details .form-control::-moz-placeholder {
        color: #cfcfcf;
    }

    .adpost-details .form-control:-ms-input-placeholder {
        color: #cfcfcf;
    }

        #christmas2016 #banner {
            background-image:url('../../static.leboncoin.fr/img/top-bg.png')
        }


        .main-login{

    background-color: #fff;

    /* shadows and rounded borders */

    -moz-border-radius: 2px;

    -webkit-border-radius: 2px;

    border-radius: 2px;

    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);



}



.main-center{

    margin-top: 30px;

    margin: 20 auto;

    max-width: 500px;

    padding: 40px 40px;



}



.login-button{

    margin-top: 5px;

}



.login-register{

    font-size: 11px;

    text-align: center;

}





.jumbotron.top-space-action {

    min-height: 163px;

    margin-left: 10px;

    text-align: center;

    border-radius: 5%;

    margin-top: 50px;

}



.jumbotron.buttom-space-action {

   

    text-align: center;

    min-height: 85px;

    padding: 20px;

    height: 100%;

    border-radius: 5%;

    margin-bottom: : 10px

}





/*.col-md-2.buttom-space-action{

    width: 15.499999995%;

}*/



.row.inner-action{

    margin-top: 50px;

}



.row.inner-action div{

   max-height: 100px;

}

    .adpost-details .form-control:-moz-placeholder {
        color: #cfcfcf;
    }


.espace-content{
    margin-top: 40px;
    margin-bottom: 20px;

}

.espace-content .item_supp{
    margin-bottom: 20px;
}

.card-menu-item{
    text-align: center;
    font-size: 20px;
}

    
/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.top-space-action h2{
    font-size: 20px;
}

.espace-content .form-group{
    margin-left: 0px!important;
}

.card-menu-item-active{
  color: #23527c;
  text-decoration: underline;
}
