{% extends 'layoutFront.html.twig' %}
{% block block_no_filter %}

<div class="container" style="margin-top:3%;">
<h1 class="text-primary">{{page.title}}</h1>

{{ page.content|raw }}

</div>

{% endblock %}
